<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>舆情专报</title>
    <link rel="stylesheet" href="../../static/vonder/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/vonder/bootstrap-table/bootstrap-table.min.css">
    <link rel="stylesheet" href="../../static/vonder/jqueryStep/css/jquery.step.css">
    <link rel="stylesheet" href="../../static/vonder/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../static/vonder/font_7grt4on8i7d/iconfont.css" media="all">
    <link rel="stylesheet" href="../../static/css/common.css"/>
    <!--gonggao-->
    <link rel="stylesheet" href="../../static/css/commonss.css"/>
    <link rel="stylesheet" href="../../static/css/delete.css"/>
    <link rel="stylesheet" href="../../static/css/models.css"/>
    <link rel="stylesheet" href="../../static/css/index-index.css"/>
    <link rel="stylesheet" href="../../static/css/banner.css"/>
    <link rel="stylesheet" href="../../static/css/yuqing.css"/>

    <script src="../../static/vonder/jquery-1.10.2/jquery-1.10.2.min.js"></script>
    <script src="../../static/vonder/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="../../static/vonder/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="../../static/vonder/layui/layui.js"></script>
    <script type="text/javascript" src="../../static/js/common.js"></script>


</head>

<body>
<!--头-->
<#include "../common/header.html"/>
<script>
    $("#li_bgyy").addClass('active');
</script>
<!--头end-->
<div class="wrapper">
    <div class="content content-index">
        <!--右侧开始-->
        <div class="content-right">
            <!--内容-->
            <div>
                <ul class="customer-ul customer-uls">
                    <li>当前位置：舆情专报-我的上传</li>
                </ul>
                <div class="second-tab tab-one">
                    <div class="layui-tab-item layui-show show-title">
                        <div class="input-box">
                            <span>筛选：</span>
                        </div>
                        <div class="input-box">
                            <div class="layui-inline">
                                <div class="layui-input-inline">
                                    <input type="text" class="layui-input" id="test1"
                                           placeholder=" 请输入筛选时间 ">
                                    <img src="../../static/imgbox/img/data.png"/>
                                </div>
                            </div>
                        </div>
                        <div class="input-box img-box">
                            <input type="text" placeholder="请输入关键词搜索" class="layui-input" id="searchKey"
                                   oninput="initTable(1,10)"/>
                            <img src="../../static/imgbox/img/search.png" alt=""/>
                        </div>
                        <table class="table" id="dataContent">
                            <!--<tr>-->
                            <!--<th>报告名称</th>-->
                            <!--<th>上传时间</th>-->
                            <!--<th>操作</th>-->
                            <!--</tr>-->
                            <!--<tr>-->
                            <!--<td>-->
                            <!--<a href="" style="color:#1E9FFF;">晋城市检察院互联网舆情报告（12期）</a>-->
                            <!--</td>-->
                            <!--<td>2019-09-28 18:00:00</td>-->
                            <!--<td>-->
                            <!--<span data-toggle="modal" data-target="#delete">删除</span>-->
                            <!--</td>-->
                            <!--</tr>-->
                        </table>
                    </div>
                </div>
                <!--banner设置内容结束-->
            </div>
            <!--内容结束-->
            <!--分页开始-->
            <div id="demo" class="demo"></div>
        </div>
    </div>



</div>
<div class="modal fade modal-new results-sentencing assa" id="delete" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modal_c">
            <div class="modal-header modal_h">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="opacity: 1;">
                    <i class="layui-icon layui-icon-close closes"></i>
                </button>
                <h4 class="modal-title modal_t">提示</h4>
            </div>
            <div class="modal-body modal-b">
                <form>
                    <div class="fromboxs">你确定要删除吗？</div>
                    <div class="fromboxs anniu annius">
                        <button class="queding quedings" data-dismiss="modal" type="button" onclick="remove()">确定
                        </button>
                        <button class="quxiao quxiaos" data-dismiss="modal">取消</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal -->
</div>
</body>
<#include "/common/footer.html"/>
</html>

<script>
    var deleteId;
    //退出
    $(".return").click(function () {
        window.location.href = "/yuqing/myupload"
    });
    $(function () {
        initTable(1, 10);
    });
    $(document).on("mouseenter",'td',function() {
        if (this.offsetWidth < this.scrollWidth) {
            var text = $(this).text();
            $(this).attr('title',text);
        }
    });
    /*时间插件*/
    layui.use('laydate', function () {
        var laydate = layui.laydate;
        //日期范围
        laydate.render({
            elem: '#test1',
            range: true,
            btns: ['confirm'],
            done: function (value, date, endDate) {
                console.log(value);
                $("#test1").val(value);
                initTable(1, 10);
            }
        });
    });

    // pageCount(数据总条数),pageNum(起始页), limit(每页显示条数)
    function page(pageCount, pageNum, limit) {
        /*分页*/
        layui.use(['laypage', 'layer'], function () {
            var laypage = layui.laypage;
            //完整功能
            laypage.render({
                elem: 'demo'
                , count: pageCount
                , curr: pageNum
                , limit: limit
                , limits: [5, 10, 20]
                , layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip']
                , jump: function (obj, first) {
                    currPage = obj.curr;
                    limitSize = obj.limit;
                    if (!first) {
                        initTable(currPage, limitSize);
                    }
                }
            });
        });
    }


    //初始化数据
    function initTable(pageNum, pageSize) {
        var startTime = "";
        var endTime = "";
        if ($("#test1").val() !== "") {
            startTime = $("#test1").val().split(" ")[0] + " 00:00:00";
            endTime = $("#test1").val().split(" ")[2] + " 23:59:59";
        }
        var searchKey = $("#searchKey").val();
        var param = {
            pageNum: pageNum,
            pageSize: pageSize,
            startTime: startTime,
            endTime: endTime,
            searchKey: searchKey
        }
        $.post('/apis/specialReport/myUploadReport', param, function (result) {
            var res = result.data;
            var obj = res.data;
            var str = '<tr>\n' +
                '\t\t\t\t\t\t\t\t\t\t<th>报告名称</th>\n' +
                '\t\t\t\t\t\t\t\t\t\t<th>上传时间</th>\n' +
                '\t\t\t\t\t\t\t\t\t\t<th>操作</th>\n' +
                '\t\t\t\t\t\t\t\t\t</tr>';
            $(obj).each(function (index, report) {
                str += '<tr>\n' +
                    '\t\t\t\t\t\t\t\t\t\t<td>\n' +
                    '\t\t\t\t\t\t\t\t\t\t\t<a href="'+report.path+'" download="'+report.reportName+'" style="color:#1E9FFF;">' + report.reportName + '</a>\n' +
                    '\t\t\t\t\t\t\t\t\t\t</td>\n' +
                    '\t\t\t\t\t\t\t\t\t\t<td>' + report.createTime + '</td>\n' +
                    '\t\t\t\t\t\t\t\t\t\t<td>\n' +
                    '\t\t\t\t\t\t\t\t\t\t\t<span data-toggle="modal" data-target="#delete" onclick="delReport(' + report.id + ')">删除</span>\n' +
                    '\t\t\t\t\t\t\t\t\t\t</td>\n' +
                    '\t\t\t\t\t\t\t\t\t</tr>';
            });
            if(obj===undefined||obj===null||obj.length===0){
                str+='<tr><td colspan="3" style="text-align: center"><div><img style="width:auto;margin:0 auto;margin-top: 20px;" src="../../static/common/noneDate.png"></div></td></tr>';
            }
            $("#dataContent").html(str);
            page(res.total, res.pageNum, res.pageSize);
        })
    }

    //删除
    function delReport(id) {
        deleteId = id;
    }

    function remove() {
        $.post('/apis/specialReport/removeReport', {id: deleteId}, function (result) {
            console.log(result)
            initTable(1, 10);
        })
    }




</script>