<header class="header">
    <nav class="navbar-fixed-top navbar navbar-default nav-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <img src="/images/header/phone.png"/>忆乡忆客管理平台
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <img src="/images/header/help.png"/>&nbsp;&nbsp;帮助
                </li>
                <li class="return">
                    <img src="/images/header/out.png"/>&nbsp;&nbsp;退出
                </li>
            </ul>
        </div>
    </nav>
</header>
<script>
    $(".return").click(function () {
        $.post("/apis/user/logout", {
            id: deleteId
        }, function (result) {
            if (result.success) {
                window.location.href = "login"
            }
        })

    })
</script>