<div class="layui-side layui-bg-black contentleft">
    <div class="layui-side-scroll">
        <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
        <ul class="layui-nav layui-nav-tree" lay-filter="test">
            <!--            <li class="layui-nav-item layui-nav-itemed">-->
            <!--                <a class="layui-this" href="javascript:;">地域行政单位管理</a>-->
            <!--                <dl class="layui-nav-child">-->
            <!--                    <dd>-->
            <!--                        <a href="/regionManger" id="li_dygl">地域管理</a>-->
            <!--                    </dd>-->
            <!--                    <dd>-->
            <!--                        <a href="/companyManger" id="li_jggl">机构管理</a>-->
            <!--                    </dd>-->
            <!--                </dl>-->
            <!--            </li>-->
            <li class="layui-nav-item">
                <a href="/regionManger" id="li_dygl">地域管理</a>
            </li>
            <li class="layui-nav-item">
                <a href="/companyManger" id="li_jggl">机构管理</a>
            </li>
            <li class="layui-nav-item">
                <a href="/accountManger" id="li_khzh">banner</a>
            </li>
            <li class="layui-nav-item">
                <a href="/ArticleList" id="li_wzgl">文章管理</a>
            </li>
            <li class="layui-nav-item">
                <a href="/modular_table" id="report_modular">举报模块管理</a>
            </li>
        </ul>
    </div>
</div>
<script type="application/javascript">
    $("")

</script>
