<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>线索管理</title>
    <link rel="stylesheet" href="../../static/vonder/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/vonder/bootstrap-table/bootstrap-table.min.css">
    <link rel="stylesheet" href="../../static/vonder/jqueryStep/css/jquery.step.css">
    <link rel="stylesheet" href="../../static/vonder/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../static/vonder/font_7grt4on8i7d/iconfont.css" media="all">
    <link rel="stylesheet" href="../../static/css/common.css"/>
    <link rel="stylesheet" href="../../static/css/configure.css"/>
    <link rel="stylesheet" href="../../static/css/publiclist.css"/>
    <link rel="stylesheet" href="../../static/js/angularjs/pagination.css"/>
    <link rel="stylesheet" href="../../static/css/bootstrap-dialog.min.css"/>
    <link href="../../static/vonder/iCheck/skins/all.css" rel="stylesheet" type="text/css"/>


    <script src="../../static/vonder/jquery-1.10.2/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="../../static/js/angularjs/angular.min.js"></script>
    <script type="text/javascript" src="../../static/js/base.js"></script>
    <script type="text/javascript" src="../../static/js/angularjs/tm.pagination.js"></script>
    <script type="text/javascript" src="../../static/js/service/departmentService.js"></script>
    <script type="text/javascript" src="../../static/js/controller/departmentController.js"></script>
    <script src="../../static/vonder/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="../../static/js/bootstrap-dialog.min.js"></script>
    <script src="../../static/vonder/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="../../static/vonder/jqueryStep/js/jquery.step.min.js"></script>
    <script src="../../static/vonder/layui/layui.js"></script>
    <script src="../../static/vonder/iCheck/icheck.js"></script>

    <script type="text/javascript" src="../../static/js/common.js"></script>

</head>
<style>

    .typebox {
        height: 173px;
    }

    .type {
        height: 173px;
    }

    .layui-input {
        border: none !important;
        color: #3299fe;
        padding: 0;
        height: 20px;
        margin-top: -7px;
    }

    .layui-laydate-content td.laydate-selected {
        background: #e7f3ff !important;
    }

    .layui-laydate-footer span:hover {
        color: #3299fe !important;
    }

    .bluexl {
        position: absolute;
        top: 1px;
        right: 50px;
    }

    .w100 {
        width: 100%;
    }

    .selectcss {
        float: right;
        padding: 5px 10px 5px 10px;
        border-radius: 5px;
        width: 160px;
        margin-right: 20px;
    }



</style>
<body ng-app="xiansuo" ng-controller="departmentController" ng-init="findReportModulars()">
<!--头-->
<#include "../common/header.html"/>
<!--头end-->
<div class="wrapper ">
    <div class="content">
        <div class="contentright w100">

            <!--类型开始-->
            <div class="typebox">
                <div class="type">
                    <div class="typech">
                        <div class="typechleft">类型</div>
                        <ul class="typechright">
                            <li class="typeli" ng-click="changetype('0')"><span  id ="0" class="typespan activespan">全部</span>
                            </li>
                            <li class="typeli" ng-repeat="entity in modulars" ng-click="changetype(entity.id)"><span id="{{entity.id}}" class="typespan">
                                <img src="{{imgListSrc[$index]}}" class="img2" ng-if="ss!=entity.id">
                                <img src="{{imgListSrcs[$index]}}" class="img3" ng-if="ss==entity.id">&nbsp;
                                {{entity.modularName}}</span></li>
                        </ul>
                    </div>
                    <div class="typech">
                        <div class="typechleft">筛选时间</div>
                        <ul class="typechright">
                            <li class="typeli" ng-click="time(4)"><span class="typespan activespan">全部</span></li>
                            <li class="typeli" ng-click="time(0)"><span class="typespan">今天</span></li>
                            <li class="typeli" ng-click="time(1)"><span class="typespan">昨天</span></li>
                            <li class="typeli" ng-click="time(2)"><span class="typespan">近7天</span></li>
                            <li class="typeli" ng-click="time(3)"><span class="typespan">近30天</span></li>
                            <div class="time" style="float: left;">
                                <span>自定义时间：</span>
                                <div class="layui-inline" style="float: none;position: relative;">
                                    <div class="layui-input-inline">
                                        <input type="text" class="layui-input" id="test6" placeholder=" 请选择起止日期范围 "
                                               style="width:220px;">
                                        <img src="../../static/images/guanli/bluexl.png" alt="" class="bluexl"/>
                                    </div>
                                </div>
                            </div>
                        </ul>
                    </div>
                    <div class="typech">
                        <div class="typechleft">核查状态</div>
                        <ul class="typechright" style="border:none">
                            <li class="typeli" ng-click="changetransactionState(1)"><span class="typespan activespan">未核查</span>
                            </li>
                            <li class="typeli" ng-click="changetransactionState(3)"><span class="typespan ">已核查</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="publiclist">
                <div class="publictitle">
                    <@shiro.hasAnyPermissions name="10202">
                    <input type="checkbox" icheck name="all" value="全选" id="all"/>全选
                    <span class="caozuo" ng-click="deletes()">删除</span>
                    </@shiro.hasAnyPermissions>
                </div>
                 <!--筛选开始-->
                <div class="selectboxs">
                    <input ng-model="voCondition.searchKey" type="text" placeholder="请输入要搜索的内容" class="inp"/>
                    <img src="../../static/images/guanli/search.png" alt="" ng-click="findall()" class="search"/>
                </div>
                <!--筛选结束-->

                <div class="zhengti" ng-repeat="item in list" >
                    <input type="checkbox" icheck ng-model="report[item.id]"/>
                    <div class="publictext">
                        <p class="textp" ng-click="addInspect(item.id)">
                            {{item.content}}
                            <span ng-show="item.readState==1">已读</span>
                            <span ng-show="item.readState==0">未读</span>
                        </p>

                        <span class="times">{{item.createTime}}</span>
                        <span class="names">举报人：{{item.reportPersonName}}</span>
                        <div class="rightcz">
                            <@shiro.hasAnyPermissions name="10202">
                            <span class="caozuos"><img src="../../static/images/guanli/del.png" title="删除" ng-click="delete(item.id)"
                                                       alt=""/></span>
                            <span class="caozuos" ng-click="addInspect(item.id)">开始核查</span>
                            <select name="" id="{{item.id}}" class="selectcss" ng-change="changem(item.id)" ng-model="a" >
                                <option value=""  selected="selected">线索研判</option> 
                                <option  ng-repeat="entitys in modulars"  value="{{entitys.id}}" ng-selected="{{entitys.id}}=={{item.modularId}}">{{entitys.modularName}}</option>
                            </select>
                        </@shiro.hasAnyPermissions>
                    </div>
                    </div>

                </div>
                <tm-pagination conf="paginationConf" style="float:right"></tm-pagination>
                <div style="margin: 8% auto; text-align: center">
                  <img src="../../static/common/noneDate.png" ng-show="paginationConf.totalItems<=0" >
                </div>
            </div>
            <!--列表结束-->
        </div>
<#include "/common/footer.html"/>
    </div>
</div>
</body>
</html>


<script>
    $("#li_xshc").attr("class", "active");



    /*分页*/
    layui.use(['laypage', 'layer'], function () {
        var laypage = layui.laypage
            , layer = layui.layer;
        //完整功能
        laypage.render({
            elem: 'demo7'
            , count: 100
            , layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip']
            , jump: function (obj) {
                console.log(obj)
            }
        });

    });

    $(".thematic").click(function () {
        window.location.href = "popularset.html";
    })
    $(".typespan").click(function () {
        $(this).addClass('activespan').parent(".typeli").siblings().children().removeClass("activespan");
    });
    $(".time").click(function () {
        $(this).siblings().children().removeClass("activespan");
    })



</script>