<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>法律法规</title>
    <link rel="stylesheet" href="../../static/vonder/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/vonder/bootstrap-table/bootstrap-table.min.css">
    <link rel="stylesheet" href="../../static/vonder/jqueryStep/css/jquery.step.css">
    <link rel="stylesheet" href="../../static/vonder/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../static/vonder/font_7grt4on8i7d/iconfont.css" media="all">
    <link rel="stylesheet" href="../../static/css/common.css"/>
    <link rel="stylesheet" href="../../static/css/configure.css"/>
    <link rel="stylesheet" href="../../static/css/PopularOpinion.css"/>
    <link rel="stylesheet" href="../../static/css/pinggu.css"/>
    <link href="../../static/vonder/iCheck/skins/all.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="../../static/css/regulations.css"/>

    <script src="../../static/vonder/jquery-1.10.2/jquery-1.10.2.min.js"></script>
    <script src="../../static/vonder/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <!--<script src="../../static/vonder/bootstrap-table/bootstrap-table.min.js"></script>-->
    <script src="../../static/vonder/jqueryStep/js/jquery.step.min.js"></script>
    <script src="../../static/vonder/layui/layui.js"></script>
    <script src="../../static/vonder/iCheck/icheck.js"></script>
    <script type="text/javascript" src="../../static/js/common.js"></script>
    <script src="../../static/js/homePage/homePage.js"></script>
</head>
<style>
    table {
        table-layout: fixed;
    }

    td {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
</style>
<body>
<!--头-->
<#include "../common/header.html"/>
<!--头end-->
<div class="wrapper ">
    <div class="content">
        <div class="contentleft">
            <ul class="listleft">
                <a href="../robot?liNumber=0" class="listlefta">
                    <li>
                        <img src="../../static/images/guanli/9.png" alt="" class="onesty"/>
                        <img src="../../static/images/guanli/10.png" alt="" class="twosty"/>
                        <span class="spantext">首页设置</span>
                    </li>
                </a>
                <a href="../regulations" class="listlefta actives">
                    <li>
                        <img src="../../static/images/guanli/7.png" alt="" class="onesty"/>
                        <img src="../../static/images/guanli/8.png" alt="" class="twosty"/>
                        <span class="spantext">法律法规</span>
                    </li>
                </a>
                <a href="regulations/case" class="listlefta">
                    <li>
                        <img src="../../static/images/guanli/11.png" alt="" class="onesty"/>
                        <img src="../../static/images/guanli/12.png" alt="" class="twosty"/>
                        <span class="spantext">以案释法</span>
                    </li>
                </a>
            </ul>
        </div>
        <div class="contentright">
            <div class="cookie">
                当前位置：
                <span><a href="">机器人管理</a></span>-
                <span><a href="">法律法规</a></span>
            </div>
            <div class="selectbox">
                <select class="form-control selects" id="sele">
                    <option value="0">标题</option>
                    <option value="1">内容</option>
                    <option value="2">标题或内容</option>
                </select>
                <input type="text" class="form-control inputs" placeholder="请输入文章名称搜索" id="title" onblur="findtitle()">
                <div class="layui-inline layui-user">
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" id="test6" placeholder="2015-02-13~2015-03-13"
                               style="width:220px;" lay-key="1">
                    </div>
                </div>
                <button class="chongzhi" type="button" onclick="chong()">添加文章</button>
            </div>
            <div class="tablebox">
                <table class="table table-bordered mytable">
                    <thead>
                    <tr>
                        <th style="width: 100px;"> 序号</th>
                        <th>名称</th>
                        <th>内容</th>
                        <th>时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody id="table">

                    </tbody>
                </table>
                <div id="demo7" style="float:right"></div>
            </div>
        </div>
    </div>
    <footer class="footer">
        Copyright © 2019灵石县人民检察院@版权所有&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        北京中检旭风科技发展有限责任公司提供技术支持
    </footer>
</div>
</body>


</html>


<script>
    /*icheck*/
    function findtitle(){
        let title = $("#title").val();
        findLaw(title,1,10,"",0)
    }
    $('input').iCheck({
        checkboxClass: 'icheckbox_minimal-blue',
        radioClass: 'iradio_minimal-blue',
        increaseArea: '20%' // optional
    });
    $(function () {
        findLaw("",1,10,"",0)
    })
    /*时间插件*/
    layui.use('laydate', function () {
        var laydate = layui.laydate;
        //日期范围
        laydate.render({
            elem: '#test6'
            , theme: '#3299fe'
            , range: "~",
            done:function (value, date, endDate) {
                if (value == "") {
                    findLaw("",1, 10, null,0);
                } else {
                    findLaw("",1, 10, value,0);
                }
            }
        });
    });
    function tops(id) {
        $.post("/robot/top",{id:id},function (res) {
            findLaw("",1,10,"",0)
        })
    }
    function updates(id) {
        window.location.href = "../../addarticle?id="+id+"&type=1";
    }
    function findLaw(name,curr, limit, time, type) {
        let searchType = $("#sele option:selected").val();
        var t = $("#test6").val();
        if (t != '') {
            time = t;
        }
        if (time != null && time != "") {
            var times = time.split(" ");
            var startTime = times[0] + ' 00:00:00';
            var endTime = times[2] + ' 23:59:59';
        }
        $.ajax({
            url: "/robot/findByPage",
            type: "post",
            data: {
                "pushMsgType":1,
                "startTime": startTime,
                "endTime": endTime,
                "pageNum": curr,
                "pageSize": limit,
                "name": name,
                "type":type,
                "searchType":searchType
            },
            success: function (result) {
                res=result.data.data;
                var ta="";
                for (let i = 0; i <res.length; i++) {
                    ta+=" <tr>\n" +
                        "                        <td>"+(i+1)+"</td>\n" +
                        "                        <td>"+res[i].title+"</td>\n" +
                        "                        <td>"+res[i].content+"</td>\n" +
                        "                        <td>"+res[i].createTime+"</td>\n" +
                        "                        <td>\n";
                    if(res[i].top===0){
                        ta+="                            <span class=\"del\" onclick='tops("+res[i].id+")'>置顶展示</span>\n"
                    }else {
                        ta+="                            <span class=\"del\" onclick='tops("+res[i].id+")'>取消置顶</span>\n"
                    }
                    ta+="                            <span class=\"del\" onclick='updates("+res[i].id+")'>修改</span>\n" +
                        "                            <span class=\"del\" onclick='deleteOne("+res[i].id+")'>删除</span>\n" +
                        "                        </td>\n" +
                        "                    </tr>"
                }
                $("#table").html(ta);
                // 大于10条显示 分页
                debugger;
                if (result.data.total > limit) {
                    $("#demo7").show();
                    page(result.data.total, curr, limit,type);
                } else {
                    $("#demo7").hide();
                }
                if(res.length==0){
                    $("#demo7").hide();
                    // 无数据展示图片
                    $("#table").html('<td colspan="6"><img src="/static/common/noneDate.png" style="width: 123px;margin:50px 0;"></td>');
                }
            }
        })
    }
    function deleteOne(id) {
        debugger;

        layer.confirm("确定要删除吗?", {skin: 'demo-class'}, function () {
            $.ajax({
                url: "/robot/deletedById",
                type: "post",
                data: {
                    id: id
                },
                success: function (result) {
                    console.log(result);
                    if (result.success) {
                        layer.closeAll('dialog'); //关闭信息框
                        findLaw("",1,10,"",0)
                    } else {
                        layer.msg(result.msg);
                    }
                }
            })
        });
    }

    /*分页*/
    function page(count, curr, limit,type) {
        layui.use(['laypage', 'layer'], function () {
            var laypage = layui.laypage
                , layer = layui.layer;
            //完整功能
            laypage.render({
                elem: 'demo7'
                , count: count
                , curr: curr
                , limit: limit
                , layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip']
                , jump: function (obj, first) {
                    curr = obj.curr;
                    limit = obj.limit;
                    if (!first) {
                        findLaw("",curr,limit,"",type)
                    }
                }
            });

        });
    }

    function chong() {
        window.location.href="../addarticle?type=0"
    }

    $(".thematic").click(function () {
        window.location.href = "popularset.html";
    })
</script>