@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1558494001555'); /* IE9 */
  src: url('iconfont.eot?t=1558494001555#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKYAAsAAAAABiwAAAJOAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAo4VwE2AiQDCAsGAAQgBYRtBzAbfQUR1YtPsj8mN2XIdkjrmlFyEJ50vfguTaRSpOfHzVVZJgPHaTSpXWbIZGAmHRNENNZm7+7NgSSizdQTIYknaHRCIRQLBbJYFAvFPcaI5E5l2zQ0RkWoLtnzfT99RxgrXAg/EmEAtid4vqjlP/cATOTmgUqGCZzgDRCw27wLrGbrdVNVrK/KCw+AVCA693kupzeBDmR+oBz3orEmTRpAvTigAPfCKLJCCTwF2R2BWvJjCOAkWiaprm3uphicVQLI8sLcBC1FMBgpb0ewthw0yAEW7GpPXaDYj78v7ywBhUXjNLXP1kyzJ25Rq/8yHBJEQWDHLYAGMoEB6W7NtCJE4jTOjInHseoFnhC6kaM6EOmvc2rdAETSrMATfyUCgAJ4LCU4GDHpx4C4hw57dZ/+mncRy9F8XkVDmPYVXQ6A/+kTXQEBgZRj8jkMADfOi0P/M2A+YF/fK/AfVGCfMTWOSxld1TqqcO+/xYkT+McDQY9TreEnLQh2wif4bETl0NhJJA2bCQsuCmHFThmcZKg77iJkBSHGAaTbIhD8jqHwcg6N3yVp2AdYiPAJK/6Ck17hQhfJaV6fcRe84PiDP6kYzyM6qb+j7Wnnoibm38jNx2Eepmr+hgV5iS3tYxcRA4Ypw0aew5QIKlPAUwYnUtdxNG1vGk7KSnPGXfCC4w/+pGLC8aJrn7+j7Wnnnp6G4hu5+elhHiaAvBkL1PMor7SPXUQMGKYMG5mHKRHU9nkBTxnchFRdR3eYQY3D9ub8dycAJ45NiTtLk+nuLXWlAA==') format('woff2'),
  url('iconfont.woff?t=1558494001555') format('woff'),
  url('iconfont.ttf?t=1558494001555') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1558494001555#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: pointer;
}

.icon-duigou:before {
  content: "\e60a";
}
