html,body{
	width:100%;
	height:100%;
	background: #f4f4f4;
}
/*头部*/
.headerapp{
	width:100%;
	height:2.76rem;
	background: #fff;
	line-height: 2.76rem;
	font-family: "微软雅黑";
	font-size: 0.81rem;
	color:#515151;
	font-weight: bold;
}
.headerapp img{
	width:1.2rem;
	height:1.2rem;
	margin-left: 0.6rem;
	margin-right: 0.3rem;
}
/*轮播*/
.banner{
	width:100%;
	min-height:5.4rem;
	overflow:hidden;
}
.containers{
	padding:0;
	margin:0 auto;
	width:100%;
	height:100%;
}
.sw-bullet{
	display: none;
}
.sw-next-prev{
	display: none;
}
.sw-slide{
	width:100%;
	height:5.4rem;
}
.contentapp{
	width:100%;
	height:auto;
	overflow: hidden;
}
.titleapp{
	width:100%;
	height:2.85rem;
	background: #f4f4f4;
	border-bottom:0.03rem solid #cccccc;
}
.titletop{
	width:100%;
	height:1.41rem;
	font-family: "微软雅黑";
	font-size: 0.69rem;
	color:#525252;
	text-align: center;
	line-height: 1.8rem;
	font-weight: bold;
}
.titlebottom{
	width:100%;
	height:1.41rem;
	font-family: "微软雅黑";
	font-size: 0.48rem;
	color:#525252;
	text-align: center;
	line-height: 1.41rem;
}
.sixbox{
	width:100%;
	height:16rem;
	overflow: hidden;
	padding:1.8rem 10%;
	background: #fff;
	border-bottom:0.03rem solid #cccccc;
}
.sixli{
	float: left;
	width:33.333%;
	height:6.5rem;
	text-align: center;
}
.cicle{
	width:2.8rem;
	height:2.8rem;
	background: #0087fe;
	border-radius: 50%;
	margin:0.5rem auto;
	text-align: center;
	line-height: 2.8rem;
}
.cicle img{
	height:1.5rem;
}
.one{
	background: #0087fe;
	box-shadow:0 2px 10px rgba(0, 115, 254, 0.5);
}
.two{
	background: #85ca68;
	box-shadow:0 2px 10px rgba(113, 176, 82, 0.5);
}
.three{
	background: #01d3df;
	box-shadow:0 2px 10px rgba(0, 187, 198, 0.5);
}
.four{
	background: #f7cb5e;
	box-shadow:0 2px 10px rgba(229, 183, 68, 0.5);
}
.five{
	background: #01acf0;
	box-shadow:0 2px 10px rgba(1, 158, 220, 0.5);
}
.six{
	background: #f2867d;
	box-shadow:0 2px 10px rgba(230, 121, 112, 0.5);
}
.word{
	font-family: "微软雅黑";
	font-size: 0.76rem;
	color:#525252;
}
/*底部*/
.footapp{
	width:100%;
	height:2.84rem;
	padding:0 10%;
	overflow: hidden;
	background: #f4f4f4;
}
.footli{
	float: left;
	width:33.333%;
	height:100%;
	text-align: center;
	padding-top:0.4rem;
}
.foottop{
	width:100%;
	height:1.42rem;
}
.foottop img{
	height:1rem;
}
.footword{
	width: 100%;
	height:1.42rem;
	line-height: 0.7rem;
	font-family: "微软雅黑";
	font-size: 0.57rem;
	color:#525252;
}
.activecolor{
	color:#3299fe;
}