.wenshubox{
	width:100%;
	height:auto;
	background: #f4f4f4;
	position: relative;
	padding:60px 40px;
}
.cookie{
	position: absolute;
	top:24px;
	left:60px;
	font-family: "微软雅黑";
	font-size: 12px;
	color: #868e9a;
}
.cookie span{
	margin:5px;
	cursor: pointer;
}
/*富文本编辑器*/
.rich{
	width:100%;
	height:auto;
	background: #fff;
}
.layui-layedit{
	min-height:600px !important;
	border:none;
}
.richp{
	font-family: "微软雅黑";
	font-size: 17px !important;
	color:#464e5a !important;
	font-weight: bold !important;
}
