<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="../../static/vonder/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/vonder/bootstrap-table/bootstrap-table.min.css">
    <link rel="stylesheet" href="../../static/vonder/jqueryStep/css/jquery.step.css">
    <link rel="stylesheet" href="../../static/vonder/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../static/css/common.css"/>
    <link rel="stylesheet" href="../../static/css/denglu.css"/>
    <link rel="stylesheet" href="../../static/vonder/iCheck/skins/minimal/alls.css">

    <script src="../../static/vonder/jquery-1.10.2/jquery-1.10.2.min.js"></script>
    <script src="../../static/vonder/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="../../static/vonder/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="../../static/vonder/jqueryStep/js/jquery.step.min.js"></script>
    <script src="../../static/vonder/layui/layui.js"></script>
    <script src="../../static/vonder/iCheck/icheck.js"></script>
    <script type="text/javascript" src="../../static/js/common.js"></script>

    <!-- // <script type="text/javascript" src="../../js/denglu.js"></script> -->

</head>
<style>
    .icheckbox_minimal-blue {
        margin-right: 8px;
    }
</style>
<body>
<div class="content">
    <div class="center">
        <div class="col-md-8 ">
        </div>
        <div class="col-md-4 ">
            <div class="c_right">
                <div class="r_right">
                    <p class="spans">公益诉讼线索管理平台</p>
                    <p class="p">
                        <img src="../../static/images/denglu/4.png" alt="">
                        <img src="../../static/images/denglu/5.png" alt="" class="shi hide">
                        <input type="text" class="users" placeholder="请输入用户名" id="txt_username"
                               style="margin-left: 30px;border:none;">
                    </p>
                    <p class="p">
                        <img src="../../static/images/denglu/7.png" alt="">
                        <img src="../../static/images/denglu/6.png" alt="" class="shitwo hide">
                        <input type="password" class="pass" placeholder="请输入密码" id="txt_password"
                               style="margin-left: 30px;border:none;">
                    </p>
                    <p>
                        <input type="checkbox" class="checkbox" id="txt_rememberMe"><span
                            style="color:#868e9a;">记住密码</span>
                    </p>
                    <p style="width:316px;padding:0;margin-top: 40px;">
                        <button class="btn tindex" onclick="login()">登录</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>
<script>
    // $(".tindex").click(function () {
    //     window.location.href = "../index.html";
    // })

    $('input').iCheck({
        checkboxClass: 'icheckbox_minimal-blue',
        radioClass: 'iradio_minimal-blue',
        increaseArea: '20%' // optional
    });


    //输入框正在输入时
    $(".users").on('input', function () {
        if (!($('.users').val() == '')) {
            $(".shi").removeClass('hide');
        } else {
            $(".shi").addClass('hide');
        }
    })
    //输入框得到焦点时
    $(".users").on('focus', function () {
        if (!($('.users').val() == '')) {
            $(".shi").removeClass('hide');
        } else {
            $(".shi").addClass('hide');
        }
    })
    //输入框失去焦点时
    $(".users").on('blur', function () {
        if (($('.users').val() == '')) {
            $(".shi").addClass('hide');
        } else {
            $(".shi").removeClass('hide');
        }
    })

    //输入框正在输入时
    $(".pass").on('input', function () {
        if (!($('.pass').val() == '')) {
            $(".shitwo").removeClass('hide');
        } else {
            $(".shitwo").addClass('hide');
        }
    })
    //输入框得到焦点时
    $(".pass").on('focus', function () {
        if (!($('.pass').val() == '')) {
            $(".shitwo").removeClass('hide');
        } else {
            $(".shitwo").addClass('hide');
        }
    })
    //输入框失去焦点时
    $(".pass").on('blur', function () {
        if (($('.pass').val() == '')) {
            $(".shitwo").addClass('hide');
        } else {
            $(".shitwo").removeClass('hide');
        }
    })
    document.onkeydown=function(event){
        var e = event || window.event || arguments.callee.caller.arguments[0];
        if(e && e.keyCode==13){ // enter 键
            //要做的事情
            login();
        }
    };
    layui.use('layer', function () {
        layer = layui.layer;
    });
    /*登录*/
    function login() {

        $.ajax({
            url: "/apis/user/loginUser",
            type: "post",
            data: {
                userName: $("#txt_username").val(),
                passWord: $("#txt_password").val(),
                rememberMe: ($('#txt_rememberMe').is(':checked') ? 1 : 0)
            },
            success: function (result) {
                console.log(result);
                if (result.success) {

                    if (result.data.user.homeUrl=="" || result.data.user.homeUrl==null){
                        //查找权限
                        var perssion = result.data.perssion;
                        var url = "/office/workindex";
                        if(perssion.indexOf("10101")!=-1){
                            url = "/PopularOpinion/networklist";
                        }else if(perssion.indexOf("10201")!=-1){
                            url = "/PopularOpinion/department";
                        }else if(perssion.indexOf("10301")!=-1){
                            url = "/index";
                        }
                        window.location.href =url;
                    }else{
                        window.location.href = result.data.user.homeUrl;
                    }

                    setCookie("_rememberMe", ($("#txt_rememberMe").is(':checked') ? 1 : 0), 30);
                    if ($("#txt_rememberMe").is(':checked')) {
                        setCookie("_username", $("#txt_username").val(), 30);
                        setCookie("_password", $("#txt_password").val(), 30);
                    } else {
                        setCookie("_username", "", 30);
                        setCookie("_password", "", 30);
                    }
                } else {
                    layer.msg(result.msg);
                }
            }
        })
    }

    //设置cookie
    function setCookie(name, value, day) {
        var date = new Date();
        date.setDate(date.getDate() + day);
        document.cookie = name + '=' + value + ';expires=' + date;
    };

    //获取cookie
    function getCookie(name) {
        var reg = RegExp(name + '=([^;]+)');
        var arr = document.cookie.match(reg);
        if (arr) {
            return arr[1];
        } else {
            return '';
        }
    };

    /*如果等于1的话,将cookie中的值填入input*/
    $(function () {
        if (getCookie("_rememberMe") == 1) {
            $("#txt_username").val(getCookie("_username"));
            $("#txt_password").val(getCookie("_password"));
            $("#txt_rememberMe").iCheck('check');
        } else {
            $("#txt_rememberMe").iCheck('uncheck');
        }
        /*var statH = $(window).height();
        var footerH = $("#footer").height();
        $('input').iCheck({
            checkboxClass: 'icheckbox_minimal-blue',
            radioClass: 'iradio_minimal-blue',
            increaseArea: '20%' // optional
        });*/
    });
</script>
