<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>舆情专报</title>
    <link rel="stylesheet" href="../../static/vonder/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/vonder/bootstrap-table/bootstrap-table.min.css">
    <link rel="stylesheet" href="../../static/vonder/jqueryStep/css/jquery.step.css">
    <link rel="stylesheet" href="../../static/vonder/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../static/vonder/font_7grt4on8i7d/iconfont.css" media="all">
    <link rel="stylesheet" href="../../static/css/common.css"/>

    <script src="../../static/vonder/jquery-1.10.2/jquery-1.10.2.min.js"></script>
    <script src="../../static/vonder/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="../../static/vonder/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="../../static/vonder/layui/layui.js"></script>
    <script type="text/javascript" src="../../static/js/common.js"></script>

    <!--gonggao-->
    <link rel="stylesheet" href="../../static/css/commonss.css"/>
    <link rel="stylesheet" href="../../static/css/models.css"/>
    <link rel="stylesheet" href="../../static/css/yuqing.css"/>
    <script src="../../static/vonder/layui/layui.js"></script>

    <!--bootstrap CheckBox美化-->
    <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/build.css"/>

    <!--富文本-->
    <script src="../../static/vonder/ueditor/ueditor.config.js"></script>
    <script src="../../static/vonder/ueditor/ueditor.all.min.js"></script>
    <script src="../../static/vonder/ueditor/lang/zh-cn/zh-cn.js"></script>

</head>

<body>
<!--头-->
<#include "../common/header.html"/>
<script>
    $("#li_bgyy").addClass('active');
</script>
<!--头end-->
<div class="wrapper">
    <div class="content" style="background: #eee;">
        <span>当前位置：</span>
        <span>办公应用</span>-
        <span>舆情专报</span>
        <div class="yuqing">
            <@shiro.hasAnyPermissions name="10405">
            <div class="yuqing-title">
                <button class="btn upload" data-toggle="modal" data-target="#upload">上传专报</button>
                <button class="btn my-upload" onclick="my_upload()">我的上传</button>
            </div>
        </@shiro.hasAnyPermissions>
            <div>
                <table class="table " id="dataContent">
                    <tr>
                        <th>报告名称</th>
                        <th>上传者</th>
                        <th>上传时间</th>
                    </tr>
                    <!--<tr>-->
                    <!--<td>晋城市检察院互联网舆情报告（11期）</td>-->
                    <!--<td>admin</td>-->
                    <!--<td>2018.12.20 18:00</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                    <!--<td>太原市检察院互联网舆情报告（12期）</td>-->
                    <!--<td>admin</td>-->
                    <!--<td>2018.12.20 18:00</td>-->
                    <!--</tr>-->
                </table>
                <!--分页开始-->
                <div id="demo" class="demo"></div>
            </div>
        </div>
    </div>



</div>


<!--上传模态框开始-->
<div class="modal fade modal-new results-sentencing assa" id="upload" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="opacity: 1;">
                    <i class="layui-icon layui-icon-close closes"></i>
                </button>
                <h4 class="modal-title">上传专报</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="fromboxs">
                        <div class="uploads-box">
                            <img src="../../static/imgbox/img/uploads.png" id="uploads"/>
                        </div>
                    </div>
                    <div class="fromboxs anniu">
                        <button class="queding" id="uploadbtn" type="button">上传</button>
                        <button class="quxiao" data-dismiss="modal" type="button">取消</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal -->
</div>
<!--上传模块模态框-结束-->
</body>
<script>
    layui.use('element', function () {
        var element = layui.element;

    });
    $(function () {
        tableData(1, 10);
        $("td").on("mouseenter", function () {
            if (this.offsetWidth < this.scrollWidth) {
                var text = $(this).text();
                $(this).attr('title', text);
            }
        });
    })

    function my_upload() {
        window.location.href = "/yuqing/myupload"
    }

    layui.use(['upload', 'layer'], function () {
        var upload = layui.upload;
        var layer = layui.layer;
        upload.render({ //允许上传的文件后缀
            elem: '#uploads',
            url: '/apis/specialReport/uploadSpecialReport',
            auto: false, //设置非自动上传
            bindAction: '#uploadbtn',  //设置上传按钮
            multiple: true,
            accept: 'file', //普通文件
            number: 9,
            exts: 'zip|rar|doc|docx|pdf|png|jpg',//只允许上传压缩文件
            done: function (res) {
                console.log(res)
                $("#upload").modal("hide");
                layer.msg("上传成功");
                tableData(1, 10);
            }
        });
    });

    // pageCount(数据总条数),pageNum(起始页), limit(每页显示条数)
    function page(pageCount, pageNum, limit) {
        /*分页*/
        layui.use(['laypage', 'layer'], function () {
            var laypage = layui.laypage;
            //完整功能
            laypage.render({
                elem: 'demo'
                , count: pageCount
                , curr: pageNum
                , limit: limit
                , limits: [5, 10, 20]
                , layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip']
                , jump: function (obj, first) {
                    currPage = obj.curr;
                    limitSize = obj.limit;
                    if (!first) {
                        tableData(currPage, limitSize);
                    }
                }
            });
        });
    }

    function tableData(pageNum, pageSize) {
        var param = {
            pageNum: pageNum,
            pageSize: pageSize
        }
        $.ajax({
            url: '/apis/specialReport/specialList',
            type: 'post',
            async: false,
            data: param,
            success: function (result) {
                var res = result.data;
                var data = res.data;
                var str = '<tr>\n' +
                    '                        <th>报告名称</th>\n' +
                    '                        <th>上传者</th>\n' +
                    '                        <th>上传时间</th>\n' +
                    '                    </tr>';
                $(data).each(function (index, obj) {
                    str += '<tr>\n' +
                        '\t\t\t\t\t\t\t\t\t\t<td>\n' +
                        '\t\t\t\t\t\t\t\t\t\t\t<a href="' + obj.path + '" download="' + obj.name + '" style="color:#1E9FFF;">' + obj.name + '</a>\n' +
                        '\t\t\t\t\t\t\t\t\t\t</td>\n' +
                        '                            <td>' + obj.userName + '</td>\n' +
                        '                            <td>' + obj.createTime + '</td>\n' +
                        '                        </tr>';
                })
                if (data === undefined || data === null || data.length === 0) {
                    str += '<tr><td colspan="3" style="text-align: center"><div style="width:auto;margin:0 auto;margin-top: 20px;"><img  src="../../static/common/noneDate.png"></div></td></tr>';
                }
                $("#dataContent").html(str);
                page(res.total, res.pageNum, res.pageSize);
                console.log(result);
            }
        })
    }
</script>
<#include "/common/footer.html"/>
</html>