<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>地域行政单位管理-地域管理</title>
    <link rel="stylesheet" href="/vonder/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vonder/bootstrap-table/bootstrap-table.css">
    <link rel="stylesheet" href="/vonder/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/vonder/font_7grt4on8i7d/iconfont.css" media="all">
    <link rel="stylesheet" href="/css/common.css"/>
    <link rel="stylesheet" href="/css/model.css"/>
    <link rel="stylesheet" href="/css/zone.css"/>
    <link rel="stylesheet" href="/css/delete.css"/>

    <script src="/js/jquery.min.js"></script>
    <script src="/vonder/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="/vonder/layui/layui.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>

    <!--城市三级联动-->
    <link rel="stylesheet" type="text/css" href="/vonder/select-select/css/index.css"/>
    <script src="/vonder/select-select/js/citydata.min.js"></script>
    <script src="/vonder/select-select/js/cityPicker-2.0.3.js"></script>
    <script src="/vonder/bootstrap-table/bootstrap-table.js"></script>
    <script src="/vonder/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
</head>

<body>
<!--头-->
<#include "../common/header.html"/>
<div class="wrapper ">
    <div class="content">
        <!--左侧开始-->
        <#include "../common/menu.html"/>

        <!--右侧开始-->
        <div class="content-right">
            <!--地域管理——内容-->
            <div>
                <!--                <ul class="second">-->
                <!--                    <li class="active" value="0">省(直辖市)级行政单位</li>-->
                <!--                    <li value="1">市级行政单位</li>-->
                <!--                    <li value="2">区(县)级行政单位</li>-->
                <!--                </ul>-->
                <ul class="customer-ul">
                    <li>用户管理</li>
                </ul>
                <div class="second-tab tab-one">
                    <div class="layui-tab-item layui-show show-title">
                        <div class="input-box">
                            <span>筛选：</span>
                        </div>
                        <div class="input-box">
                            <div class="layui-inline">
                                <div class="layui-input-inline">
                                    <input type="text" class="layui-input" id="test1"
                                           placeholder=" 请选择创建时间 ">
                                    <img src="/images/img/data.png"/>
                                </div>
                            </div>
                        </div>
                        <div class="input-box img-box">
                            <input type="text" placeholder="请输入名称筛选" class="layui-input " onblur="searchTable()"
                                   id="text_name"/>
                            <img src="/images/img/search.png" alt=""/>
                        </div>
                        <button class="btn found" data-toggle="modal" data-target="#add" value=""
                                onclick="addUser()">新建用户
                        </button>
                        <table class="p-table" id="province_table">
                        </table>
                    </div>
                </div>


            </div>
            <!--地域管理——内容结束-->
            <!--分页开始-->
            <div id="demo" class="demo"></div>
        </div>

    </div>
</div>
<!--footer-->
<#include "../common/footer.html"/>

<!--新建行政单位模态框开始-->

<!--新建行政单位模态框项结束-->

<!--修改行政单位模态框开始-->

<!--修改行政单位模态框项结束-->

<!--删除模态框开始-->
<div class="modal fade modal-new results-sentencing assa" id="delete" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modal_c">
            <div class="modal-header modal_h">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="opacity: 1;">
                    <i class="layui-icon layui-icon-close closes"></i>
                </button>
                <h4 class="modal-title modal_t">提示</h4>
            </div>
            <div class="modal-body modal-b">
                <form>
                    <div class="fromboxs">你确定要删除吗？</div>
                    <div class="fromboxs anniu annius">
                        <button class="queding quedings" data-dismiss="modal" type="button" onclick="deleteById()">确定
                        </button>
                        <button class="quxiao quxiaos" data-dismiss="modal">取消</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal -->
</div>
<!--删除模态框-结束-->
</body>

</html>
<script>


    var deleteId;
    $("#li_dygl").attr("class", "actives");


    $(function () {
        initProvinceTable();
    });


    function addUser(){
        window.location.href="../accountDetail"
    }

    //日期范围
    layui.use('laydate', function () {
        var laydate = layui.laydate;
        //日期范围
        laydate.render({
            elem: '#test1',
            range: "~",
            done: function (value) {
                $("#test1").val(value);
                initProvinceTable();
            }
        });
    });

    function initProvinceTable() {

        var startTime = "";
        var endTime = "";
        if ($("#test1").val() !== "") {
            startTime = $("#test1").val().split("~")[0]+"00:00:00";
            endTime = ($("#test1").val().split("~")[1]+" 23:59:59").substr(1);
        }

        var name = $("#text_name").val();

        $("#province_table").bootstrapTable('destroy');

        $("#province_table").bootstrapTable({
            url: "/apis/user/findUserPage",
            method: "post",
            contentType: "application/json",
            ajax: undefined,
            sidePagination: "server",
            queryParams: function (params) {
                return {
                    pageNum: params.offset/params.limit,
                    pageSize: params.limit,
                    startTime: startTime,
                    endTime: endTime,
                    userName: name
                };
            },
            toolbar: '#toolbar',
            striped: false,
            cache: false,
            pagination: true,
            sortable: false,
            sortOrder: "desc",
            pageNumber: 1,
            pageSize: 10,
            pageList: [10, 20],
            onClickRow: function (row, $element) {
            },
            responseHandler: function (res) {
                return  {

                    rows: res.data.rows,
                    total: res.data.total
                }
            },
            columns: [{
                field: 'id',
                title: '序号'
            }, {
                field: 'userName',
                title: '用户名'
            },{
                field: 'roleName',
                title: '角色名称'
            }, {
                field: 'remarks',
                title: '备注'
            },  {
                field: 'createTime',
                title: '创建时间'
            }, {
                title: '操作内容',
                formatter: function (value, row) {
                    return '<span data-toggle="modal" data-target="#add" onclick="updateCompany(' + row.id + ',' + 0 + ')">修改</span><span data-toggle="modal" data-target="#delete" onclick="deleteCompany(' + row.id + ')">删除</span>';
                }
            }]
        });
    }



    function updateCompany(id) {
        window.location.href="../accountDetail?id="+id;
    }

    function deleteCompany(id) {
        deleteId = id;

    }
    function deleteById(){
        $.post("/apis/user/deleteById", {
            id: deleteId
        }, function (result) {
            if (result.success) {
                initProvinceTable();
            }
        })
    }





</script>