<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>线索评估配置</title>
    <link rel="stylesheet" href="../../static/vonder/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/vonder/bootstrap-table/bootstrap-table.min.css">
    <link rel="stylesheet" href="../../static/vonder/jqueryStep/css/jquery.step.css">
    <link rel="stylesheet" href="../../static/vonder/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../static/vonder/font_7grt4on8i7d/iconfont.css" media="all">
    <link rel="stylesheet" href="../../static/css/common.css"/>
    <link rel="stylesheet" href="../../static/css/configure.css"/>
    <link rel="stylesheet" href="../../static/css/PopularOpinion.css"/>
    <link rel="stylesheet" href="../../static/css/pinggu.css"/>
    <link href="../../static/vonder/iCheck/skins/all.css" rel="stylesheet" type="text/css"/>


    <script src="../../static/vonder/jquery-1.10.2/jquery-1.10.2.min.js"></script>
    <script src="../../static/vonder/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="../../static/vonder/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="../../static/vonder/jqueryStep/js/jquery.step.min.js"></script>
    <script src="../../static/vonder/layui/layui.js"></script>
    <script src="../../static/vonder/iCheck/icheck.js"></script>
    <script type="text/javascript" src="../../static/js/common.js"></script>
    <style>
        .contentrights {
            float: none;
        }
    </style>
</head>

<body>
<!--头-->
<#include "../common/header.html"/>
<!--头end-->
<div class="wrapper ">
    <div class="content">
        <div class="content-box">
            <#include "../common/public_menu.html"/>
            <div class="contentright contentrights">
                <div class="cookie">
                    当前位置：
                    <span><a href="">配置管理</a></span>-
                    <span><a href="">线索评估配置</a></span>
                </div>
                <div class="selectbox">
                    <select class="form-control selects" id="selectsDate" onchange="findEvaluationAll(1,10)">
                    </select>
                    <button class="chongzhi" data-toggle="modal" data-target=".new" onclick="addResetDate()">新建评估项
                    </button>
                </div>
                <div class="tablebox">
                    <table class="table table-bordered mytable">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>项目</th>
                            <th>内容</th>
                            <th>时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody id="tbodys">
                        <tr>
                            <td colspan="6" style="line-height: 200px">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div id="demo7" style="float:right"></div>
                </div>
            </div>
            <#include "/common/footer.html"/>
        </div>
    </div>

</div>


<!-- 新建报告 开始 -->
<div class="modal fade modal-new new" id="saveEvaluation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="closes"><img src="../../static/images/user/close.png" alt="" data-dismiss="modal"
                                         aria-label="Close" class="closeimg"></div>
                <p class="addtitle">新建评估项</p>
            </div>
            <div class="modal-body">
                <div>
                    <div class="passwordtext">
                        <div class="w30">评估项</div>
                        <div class="w70">
                            <input type="text" id="name" class="inputcss" placeholder="请输入评估项"/>
                        </div>
                    </div>
                    <div class="passwordtext">
                        <div class="w30">内容</div>
                        <div class="w70">
                            <input type="text" id="content" class="inputcss" placeholder="请输入内容"/>
                        </div>
                    </div>
                    <div class="btnboxs">
                        <button class="quxiaos" data-dismiss="modal" aria-label="Close">取消</button>
                        <button class="baocuns" onclick="saveEvaluation()">确认</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 新建报告 结束-->
</body>
</html>
<script>

    $("#xspgpz").attr("class",$("#xspgpz").attr("class")+" actives");

    /*icheck*/
    $('input').iCheck({
        checkboxClass: 'icheckbox_minimal-blue',
        radioClass: 'iradio_minimal-blue',
        increaseArea: '20%' // optional
    });
    /*时间插件*/
    layui.use('laydate', function () {
        var laydate = layui.laydate;
        //日期范围
        laydate.render({
            elem: '#test6'
            , theme: '#3299fe'
            , range: true
        });
    });

    /*分页*/
    layui.use(['laypage', 'layer'], function () {
        var laypage = layui.laypage
            , layer = layui.layer;
        //完整功能
        laypage.render({
            elem: 'demo7'
            , count: 100
            , layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip']
            , jump: function (obj) {
                console.log(obj)
            }
        });

    });

    $(".thematic").click(function () {
        window.location.href = "popularset.html";
    })

    layui.use('layer', function () {
        layer = layui.layer;
    });

    $(function () {
        findSelectDate();
        findEvaluationAll(1, 10);
    });


    // 重置新建评估弹出框数据
    function addResetDate() {
        $(".addtitle").text("新建评估项");
        $("#name").val('');
        $("#content").val('');
    }

    // 删除
    function delEvaluation(obj) {
        layer.confirm("您确定要删除此评估项吗?", {skin: 'demo-class'}, function () {
            $.post("/apis/pingGu/delEvaluation", {id: obj}, function (result) {
                if (result.success) {
                    layer.closeAll('dialog'); //关闭信息框
                    findSelectDate();
                    findEvaluationAll(1, 10);
                } else {
                    layer.msg(result.msg);
                }
            })
        });
    }

    // 添加评估
    var evaluationId = '';

    function saveEvaluation() {
        var name = $("#name").val();
        var content = $("#content").val();

        if (name == '') {
            return layer.msg('评估项不能为空');
        }

        if (content == '') {
            return layer.msg('评估内容不能为空');
        }
        $.post("/apis/pingGu/saveEvaluation", {id: evaluationId, name: name, content: content}, function (result) {
            if (result.success) {
                $("#saveEvaluation").modal('hide');
                evaluationId = '';
                findSelectDate();
                findEvaluationAll(1, 10);

            } else {
                layer.msg(result.msg);
            }
        });
    }

    // 回显评估
    function echoEvaluation(obj) {
        $(".addtitle").text("修改评估项");
        $.post("/apis/pingGu/echoEvaluation", {id: obj}, function (result) {
            console.log(result);
            if (result.success) {
                evaluationId = result.data.id;
                $("#name").val(result.data.name);
                $("#content").val(result.data.content);
            }
        });
    }

    // 下拉表格数据
    function findSelectDate() {
        $.post("/apis/pingGu/findSelectDate", function (result) {
            console.log(result);
            if (result.success) {
                var str = '<option value="">全部</option>';
                $(result.data).each(function (i, obj) {
                    str += '<option value="' + obj + '">' + obj + '</option>'
                })
                $("#selectsDate").html(str);
            }
        });
    }

    // 评估表格数据
    function findEvaluationAll(curr, limit) {
        var name = $("#selectsDate").val();
        $.post("/apis/pingGu/findEvaluationAll", {name: name, curr: curr, limit: limit}, function (result) {
            console.log(result);
            if (result.success) {
                if (result.data.list.length != 0) {
                    var str = '';
                    var data = result.data.list;
                    // 序号
                    var number = (curr - 1) * limit;
                    $(data).each(function (i, obj) {
                        number++;
                        str += '<tr>' +
                            '<td>' + number + '</td>' +
                            '<td>' + obj.name + '</td>' +
                            '<td>' + obj.content + '</td>' +
                            '<td>' + obj.createTime + '</td>' +
                            '<td>' +
                            '<span class="del"  data-toggle="modal" data-target=".new" onclick="echoEvaluation(' + obj.id + ')">修改</span>' +
                            '<span class="del" onclick="delEvaluation(' + obj.id + ')">删除</span>' +
                            '</td>' +
                            '</tr>';
                    })
                    $("#tbodys").html(str);
                    // 大于10条显示 分页
                    if (result.data.totalCount > limit) {
                        $("#demo7").show();
                        page(result.data.totalCount, curr, limit);
                    } else {
                        $("#demo7").hide();
                    }
                } else {
                    $("#demo7").hide();
                    // 无数据展示图片
                    $("#tbodys").html('<td colspan="5"><img src="/static/common/noneDate.png" style="width: 123px;margin:50px 0;"></td>');
                }
            } else {

            }
        });


    }

    /*分页*/
    function page(count, curr, limit) {
        layui.use(['laypage', 'layer'], function () {
            var laypage = layui.laypage
                , layer = layui.layer;
            //完整功能
            laypage.render({
                elem: 'demo7'
                , count: count
                , curr: curr
                , limit: limit
                , layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip']
                , jump: function (obj, first) {
                    curr = obj.curr;
                    limit = obj.limit;
                    if (!first) {
                        findEvaluationAll(curr, limit, null);
                    }
                }
            });

        });
    }

</script>