<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>用户管理</title>
    <link rel="stylesheet" href="../../static/vonder/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/vonder/bootstrap-table/bootstrap-table.min.css">
    <link rel="stylesheet" href="../../static/vonder/jqueryStep/css/jquery.step.css">
    <link rel="stylesheet" href="../../static/vonder/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../static/vonder/font_7grt4on8i7d/iconfont.css" media="all">
    <link rel="stylesheet" href="../../static/css/common.css"/>
    <link rel="stylesheet" href="../../static/css/configure.css"/>
    <link rel="stylesheet" href="../../static/css/PopularOpinion.css"/>
    <link rel="stylesheet" href="../../static/css/pinggu.css"/>
    <link href="../../static/vonder/iCheck/skins/all.css" rel="stylesheet" type="text/css"/>


    <script src="../../static/vonder/jquery-1.10.2/jquery-1.10.2.min.js"></script>
    <script src="../../static/vonder/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="../../static/vonder/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="../../static/vonder/jqueryStep/js/jquery.step.min.js"></script>
    <script src="../../static/vonder/layui/layui.js"></script>
    <script src="../../static/vonder/iCheck/icheck.js"></script>
    <script type="text/javascript" src="../../static/js/common.js"></script>
    <style>
        .contentrights {
            float: none;
        }
    </style>
</head>

<body>
<!--头-->
<#include "../common/header.html"/>
<!--头end-->
<div class="wrapper ">
    <div class="content">
        <#include "../common/public_menu.html"/>
        <div class="contentright contentrights">
            <div class="cookie">
                当前位置：
                <span><a href="">配置管理</a></span>-
                <span><a href="">用户管理</a></span>
            </div>

            <div class="selectbox">
                <select class="form-control selects" id="roles" onchange="findAll(1,10,null)">
                    <option value="">全部</option>
                </select>
                <input type="text" class="form-control inputs" placeholder="请输入用户名搜索" oninput="findAll(1,10,null)"
                       id="filterUserName">
                <div class="layui-inline layui-user">
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" id="test6" placeholder="请选择时间"
                               style="width:220px;" lay-key="1">
                    </div>
                </div>
                <button class="chongzhi" data-toggle="modal" data-target="#adduser">新建用户</button>
            </div>
            <div class="tablebox">
                <table class="table table-bordered mytable">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>用户名称</th>
                        <th>角色</th>
                        <th>备注</th>
                        <th>创建时间</th>
                        <th style="width:300px;">操作</th>
                    </tr>
                    </thead>
                    <tbody id="tbodys">
                    <tr>
                        <td colspan="6" style="line-height: 200px">
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div id="demo7" style="float:right"></div>
            </div>
        </div>
        <#include "/common/footer.html"/>
    </div>
</div>


<!-- 添加模块模态框 -->
<div class="modal fade modal-new results-sentencing" id="adduser" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="closes"><img src="../../static/images/user/close.png" alt="" / class="closeimg"></div>
                <p class="addtitle">新增用户</p>
            </div>
            <div class="modal-body">
                <div class="passwordtext">
                    <div class="w30">用户名称：</div>
                    <div class="w70">
                        <input type="text" class="inputcss" placeholder="请输入用户真实姓名" id="addUserName"/>
                    </div>
                </div>
                <div class="passwordtext">
                    <div class="w30">登录密码：</div>
                    <div class="w70">
                        <input type="text" class="inputcss" placeholder="请输入密码" id="addPassword"/>
                    </div>
                </div>
                <div class="passwordtext">
                    <div class="w30">用户角色：</div>
                    <div class="w70">
                        <select class="form-control selecttwo" id="saveRoleSelects">
                            <option value="">请选择用户角色</option>
                        </select>
                    </div>
                </div>
                <div class="passwordtext">
                    <div class="w30">备注：</div>
                    <div class="w70">
                        <input type="text" class="inputcss" placeholder="请输入备注" id="addRemarks"/>
                    </div>
                </div>
                <div class="btnboxs">
                    <button class="quxiaos" type="button">取消</button>
                    <button class="baocuns" onclick="addUser()">保存</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 添加模块模态框 结束-->

<!-- 修改模块模态框 -->
<div class="modal fade modal-new results-sentencing" id="xguser" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="closes"><img src="../../static/images/user/close.png" alt="" / class="closeimg"></div>
                <p class="addtitle">修改用户</p>
            </div>
            <div class="modal-body">
                <form action="">
                    <div class="passwordtext">
                        <div class="w30">用户名称：</div>
                        <div class="w70">
                            <input type="text" class="inputcss" id="username" placeholder="请输入用户真实姓名"/>
                        </div>
                    </div>
                    <div class="passwordtext">
                        <div class="w30">登录密码：</div>
                        <div class="w70">
                            <input type="text" class="inputcss" id="password" placeholder="请输入密码"/>
                        </div>
                    </div>
                    <div class="passwordtext">
                        <div class="w30">用户角色：</div>
                        <div class="w70">
                            <select class="form-control selecttwo" id="saveRoleSelect">
                                <option value="">请选择用户角色</option>
                            </select>
                        </div>
                    </div>
                    <div class="passwordtext">
                        <div class="w30">备注：</div>
                        <div class="w70">
                            <input type="text" class="inputcss" id="remarks" placeholder="请输入备注"/>
                        </div>
                    </div>
                    <div class="btnboxs">
                        <button class="quxiaos" type="button">取消</button>
                        <button class="baocuns" onclick="saveUpdate()">保存</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- 修改模块模态框 结束-->
</body>
</html>
<script>
    $("#yhgl").attr("class",$("#yhgl").attr("class")+" actives");

    /*时间插件*/
    layui.use('laydate', function () {
        var laydate = layui.laydate;
        //日期范围
        laydate.render({
            elem: '#test6'
            , theme: '#3299fe'
            , range: '~'
            , done: function (value, date, endDate) {
                if (value == "") {
                    findAll(1, 10, null);
                } else {
                    findAll(1, 10, value);
                }
            }
        });
    });

    /*分页*/
    layui.use(['laypage', 'layer'], function () {
        var laypage = layui.laypage
            , layer = layui.layer;
        //完整功能
        laypage.render({
            elem: 'demo7'
            , count: 100
            , layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip']
            , jump: function (obj) {
                console.log(obj)
            }
        });

    });
    $(".quxiaos").click(function () {
        $("#adduser").modal('hide');  //手动关闭
        $("#xguser").modal('hide');  //手动关闭
        clearForm("#adduser");
        clearForm("#xguser");
    })
    $(".closeimg").click(function () {
        $("#adduser").modal('hide');  //手动关闭
        $("#xguser").modal('hide');  //手动关闭
        clearForm("#adduser");
        clearForm("#xguser");
    })
    layui.use('layer', function () {
        layer = layui.layer;
    });
    var userId;
    $(function () {
        findRoleAll();
        findAll(1, 10, null);
    });

    // 角色数据
    function findRoleAll() {
        $.ajax({
            url: "/apis/role/findRoleAll",
            type: "post",
            data: {},
            success: function (result) {
                console.log(result);
                if (result.success) {
                    var selects = '';
                    $(result.data).each(function (i, obj) {
                        selects += '<option value="' + obj.id + '">' + obj.roleName + '</option>'
                    });
                    $("#roles").append(selects);
                    $("#saveRoleSelect").append(selects);
                    $("#saveRoleSelects").append(selects);
                }
            }
        })
    }

    // 表格数据
    function findAll(curr, limit, time) {
        if (time != null && time != "") {
            var times = time.split(" ");
            var startTime = times[0] + ' 00:00:00';
            var endTime = times[2] + ' 23:59:59';
        }
        var t = $("#test6").val();
        if (t != '') {
            time = t;
        }
        var roleId = $("#roles").val();
        var userName = $("#filterUserName").val();
        $.ajax({
            url: "/apis/user/findAllUser",
            type: "post",
            data: {
                roleId: roleId,
                username: userName,
                startTime: startTime,
                endTime: endTime,
                pageNum: curr,
                pageSize: limit
            },
            success: function (result) {
                console.log(result);
                if (result.success) {
                    var data = result.data;
                    if (data.list.length != 0) {
                        // 序号
                        var number = (curr - 1) * limit;

                        var tbodys = '';
                        $(data.list).each(function (i, obj) {
                            number++;
                            var remarks = '--';
                            if (obj.remarks != null) {
                                remarks = obj.remarks;
                            }
                            tbodys += '<tr>' +
                                '<td>' + number + '</td>' +
                                '<td>' + obj.userName + '</td>' +
                                '<td>' + obj.roleName + '</td>' +
                                '<td>' + remarks + '</td>' +
                                '<td>' + obj.createTime + '</td>' +
                                '<td>' +
                                '<span data-toggle="modal" data-target=".new" class="del" onclick="updateUser(' + obj.id + ')">修改</span>' +
                                '<span class="del" onclick="delUser(' + obj.id + ')">删除</span>' +
                                '</td>' +
                                '</tr>';
                        });

                        $("#tbodys").html(tbodys);
                        // 大于10条显示 分页
                        if (result.total > limit) {
                            $("#demo7").show();
                            page(result.total, curr, limit);
                        } else {
                            $("#demo7").hide();
                        }
                    } else {
                        $("#demo7").hide();
                        // 无数据展示图片
                        $("#tbodys").html('<td colspan="6"><img src="/static/common/noneDate.png" style="width: 123px;margin:50px 0;"></td>');
                    }
                }else{
                    console.log(result.msg);
                    $("#demo7").hide();
                    // 无数据展示图片
                    $("#tbodys").html('<td colspan="6"><img src="/static/common/noneDate.png" style="width: 123px;margin:50px 0;"></td>');
                }
            }
        })

    }

    // 回显用户
    function updateUser(obj) {
        $.ajax({
            url: "/apis/user/findByUserId",
            type: "post",
            data: {
                id: obj
            },
            success: function (result) {
                console.log(result)
                $("#xguser").modal();
                if (result.success) {
                    userId = result.data.id;
                    $("#password").val('');
                    $("#username").val(result.data.userName);
                    $("#saveRoleSelect").val(result.data.roleId);
                    $("#remarks").val(result.data.remarks);
                } else {
                    console.log("查询出错")
                }
            }
        })
    }

    //添加用户
    function addUser() {
        var userName = $("#addUserName").val();
        var password = $("#addPassword").val();
        var roleId = $("#saveRoleSelects").val();
        var remarks = $("#addRemarks").val();

        if (userName == '') {
            return layer.msg('用户名称不能为空');
        }

        if (password == '') {
            return layer.msg('密码不能为空');
        }
        if (roleId == '') {
            return layer.msg('请选择角色');
        }
        $.post("/apis/user/saveUser", {
            userName: userName,
            password: password,
            roleId: roleId,
            remarks: remarks
        }, function (result) {
            if (result.success) {
                $("#adduser").modal('hide');
                userId = '';
                findAll(1, 10, null);
            } else {
                layer.msg('添加失败,可能是用户名重复,请换名称重试');
            }
        })
    }

    /*保存修改用户*/
    function saveUpdate() {
        var userName = $("#username").val();
        var remarks = $("#remarks").val();
        var password = $("#password").val();
        var roleId = $("#saveRoleSelect").val();
        if (userName == '') {
            return layer.msg('用户名称不能为空');
        }

        $.ajax({
            url: "/apis/user/saveUser",
            type: "post",
            data: {
                userName: userName,
                remarks: remarks,
                roleId: roleId,
                password: password,
                id: userId
            },
            async: false,
            success: function (result) {
                console.log(result)
                if (result.success) {
                    findAll(1, 10, null);
                } else {
                    layer.msg("修改失败，请重试！")
                }
            }
        })
    }

    //删除用户
    function delUser(obj) {
        layer.confirm("您确定要删除该用户吗?", {skin: 'demo-class'}, function () {
            $.post("/apis/user/delUser", {id: obj}, function (result) {
                layer.closeAll('dialog'); //关闭信息框
                if (result.success) {
                    findAll(1, 10, null);
                } else {
                    layer.msg("删除失败");
                }
            })
        });
    }

    //清空表格
    function clearForm(form) {
        // input清空
        $(':input', form).each(function () {
            var type = this.type;
            var tag = this.tagName.toLowerCase(); // normalize case
            if (type == 'text' || type == 'password' || tag == 'textarea')
                this.value = "";
            // 多选checkboxes清空
            // select 下拉框清空
            else if (tag == 'select')
                this.selectedIndex = 0;
        });
    };
</script>