<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>首页设置</title>
    <link rel="stylesheet" href="../../static/vonder/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/vonder/bootstrap-table/bootstrap-table.min.css">
    <link rel="stylesheet" href="../../static/vonder/jqueryStep/css/jquery.step.css">
    <link rel="stylesheet" href="../../static/vonder/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../static/vonder/font_7grt4on8i7d/iconfont.css" media="all">
    <link rel="stylesheet" href="../../static/css/common.css"/>

    <script src="../../static/vonder/jquery-1.10.2/jquery-1.10.2.min.js"></script>
    <script src="../../static/vonder/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="../../static/vonder/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="../../static/vonder/layui/layui.js"></script>
    <script type="text/javascript" src="../../static/js/commonss.js"></script>

    <!--index-->
    <link rel="stylesheet" href="../../static/css/commonss.css"/>
    <link rel="stylesheet" href="../../static/css/models.css"/>
    <link rel="stylesheet" href="../../static/css/delete.css"/>
    <link rel="stylesheet" href="../../static/css/index-index.css"/>
    <link rel="stylesheet" href="../../static/css/banner.css"/>

    <!--富文本-->
    <script src="../../static/vonder/ueditor/ueditor.config.js"></script>
    <script src="../../static/vonder/ueditor/ueditor.all.min.js"></script>
    <script src="../../static/vonder/ueditor/ueditor.all.js"></script>
    <script src="../../static/vonder/ueditor/lang/zh-cn/zh-cn.js"></script>
    <script src="../../static/js/homePage/homePage.js"></script>
    <script src="../../static/vonder/ueditor/xiumi-ue-dialog-v5.js"></script>
    <style type="text/css">
        .edui-default .edui-dialog{
            top: 70px;
        }
        .edui-button.edui-for-xiumi-connect .edui-button-wrap .edui-button-body .edui-icon {
            background-image: url("http://xiumi.us/connect/ue/xiumi-connect-icon.png") !important;
            background-size: contain;
        }
    </style>


</head>

<body>
<!--头-->
<#include "../common/header.html"/>
<script>
    $(function () {
        $("#li_bgyy").addClass('active')
    });
</script>
<!--头end-->
<div class="wrapper ">
    <div class="content content-index">
        <!--右侧开始-->
        <div class="content-right">
            <!--内容-->
            <div>
                <ul class="customer-ul customer-uls">
                    <li>当前位置：办公应用-小程序管理</li>
                </ul>
                <ul class="second">
                    <@shiro.hasAnyPermissions name="10401">
                    <li class="active" value="0" id="bannerId">banner设置</li>
                </@shiro.hasAnyPermissions>
                <@shiro.hasAnyPermissions name="10402">
                <li value="1" id="afficheId">公告设置</li>
            </@shiro.hasAnyPermissions>
            <@shiro.hasAnyPermissions name="10408">
            <li value="2">举报指引</li>
        </@shiro.hasAnyPermissions>
        </ul>
        <div class="second-tab tab-one">
            <div class="layui-tab-item layui-show show-title">
                <div class="input-box">
                    <span>筛选：</span>
                </div>
                <div class="input-box">
                    <div class="layui-inline">
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input" id="test6" style="width:220px;"
                                   placeholder="请选择时间" lay-key="1">
                            <img src="../../static/imgbox/img/data.png"/>
                        </div>
                    </div>
                </div>
                <div class="input-box img-box">
                    <input type="text" placeholder="请输入名称搜索" oninput="findAll(1,10,null)" class="layui-input "
                           id="name"/>
                    <img src="../../static/imgbox/img/search.png" alt=""/>
                </div>
                <button class="btn found banner">添加banner图</button>
                <table class="table table-bordered table-hover table-banner">
                    <tr>
                        <th>序号</th>
                        <th>图片缩略图</th>
                        <th>文章</th>
                        <th>链接</th>
                        <th>创建时间</th>
                        <th>操作</th>
                    </tr>
                    <tbody id="bannerBody">
                    <tr>
                        <td colspan="6" style="line-height: 200px">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!--banner设置内容结束-->
        <!--公告设置内容-->
        <div class="second-tab tab-two hide">
            <div class="layui-tab-item layui-show show-title">
                <div class="input-box">
                    <span>筛选：</span>
                </div>
                <div class="input-box">
                    <select id="isTop" onchange="findAllAffiche(1,10,null,0)">
                        <option value="-1">全部公告</option>
                        <option value="1">置顶公告</option>
                        <option value="0">未置顶公告</option>
                    </select>
                </div>
                <div class="input-box">
                    <div class="layui-inline">
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input" id="test2" style="width:220px;"
                                   placeholder="请选择时间" >
                            <img src="../../static/imgbox/img/data.png"/>
                        </div>
                    </div>
                </div>
                <div class="input-box img-box">
                    <input type="text" placeholder="请输入关键词搜索" class="layui-input"  id="searchAffiche" oninput="findAllAffiche(1,10,null,0)"/>
                    <img src="../../static/imgbox/img/search.png" alt=""/>
                </div>
                <button class="btn found gonggao">新建公告</button>
                <table class="table table-bordered table-hover">
                    <tr>
                        <th>序号</th>
                        <th>公告标题</th>
                        <th>概要</th>
                        <th>创建时间</th>
                        <th>操作</th>
                    </tr>
                    <tbody id="afficheBody">
                    <tr>
                        <td colspan="5" style="line-height: 200px">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!--公告设置结束-->
        <!--举报指引开始-->
        <div class="second-tab tab-four hide">
            <div class="show-title">
                <div class="boxs" style="border-top: none;">
                    <div class="boxs-left">
                        <div class="fromboxs">
                            <div class="from-left">
                                内&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;容：
                            </div>
                            <div class="from-right">
                                        <textarea id="editor" type="text/plain"
                                                  style="width:90%;height:500px;"></textarea>
                            </div>
                        </div>
                        <div class="click">
                            <button class="btn save" onclick="saveGuidance()" style="margin-left: 25%;">发布</button>
                        </div>
                    </div>
                    <!--box-left结束-->

                    <!--box-right开始-->
                    <div class="boxs-right" style="padding-top: 0;margin-top: -3px;">
                        <p style="margin-left: 13px;">文章预览（预览模式模拟手机型号为iPhone6）</p>
                        <div class="img-content" style="height: 566px;">
                            <div  class="contentboxs">
                                <div id="book-a" class="zhiyin"></div>
                                <!--<span id="content-a" class="content-a"></span>-->
                            </div>
                        </div>
                    </div>
                </div>
                <!--boxs内容结束-->

            </div>
        </div>
        <!--举报指引结束-->
    </div>
    <!--内容结束-->
    <!--分页开始-->
    <div id="demo" class="demo"></div>
</div>
<#include "/common/footer.html"/>
</div>
<input type="hidden" value="${liNumber}" id="liNumber">

</div>
</body>

</html>

<script>
    //新建banner
    $(".banner").click(function () {
        window.location.href = "/Index/addBanner?type=0"
    })
    //查看banner
    $(".look-one").click(function () {
        window.location.href = "/banner"
    })
    //新建公告
    $(".gonggao").click(function () {
        window.location.href = "/Index/addAffiche?type=0"
    })


    layui.use('element', function () {
        var element = layui.element;

    });

    //富文本初始化
    let ueditor_config = {
        autoHeightEnabled: false
    };
    var ue = UE.getEditor('editor',ueditor_config);
    // var ue = UE.getEditor('editor');
    UE.Editor.prototype._bkGetActionUrl = UE.Editor.prototype.getActionUrl;
    UE.Editor.prototype.getActionUrl = function(action) {
        if (action == 'uploadimage' || action == 'uploadscrawl' || action == 'uploadimage' || action == 'uploadvideo' ) {
            return '/uploadimage';//指定访问路径
        }if (action == 'catchimage'){
             return "/ueditor?_csrf={{ ctx.csrf | safe }}";
        } else {
            return this._bkGetActionUrl.call(this, action);
        }
    }
    //查看公告
    booka = document.getElementById('book-a');
    ue.addListener("selectionchange",function(){
        booka.innerHTML = ue.getContent();
    })
    $(function () {
        var liNumber = $("#liNumber").val();
        $(".second").find("li").each(function (i) {
            this.index = liNumber;
            $(this).on('click', function () {
                var self = this;
                $(this).addClass('active').siblings().removeClass('active');
                console.log(this.value);
                if ($(this).val() == 0) {
                    findAllBanner(1, 10, null,0);
                    $(".tab-one").removeClass('hide');
                    $(".tab-two").addClass('hide');
                    $(".tab-three").addClass('hide');
                    $(".tab-four").addClass('hide');
                    $(".demo").removeClass('hide');

                } else if ($(this).val() == 1) {
                    findAllAffiche(1, 10, null,0);
                    $(".tab-one").addClass('hide');
                    $(".tab-two").removeClass('hide');
                    $(".tab-three").addClass('hide');
                    $(".tab-four").addClass('hide');
                    $(".demo").removeClass('hide');

                } else if ($(this).val() == 2) {
                    findGuide();
                    $(".tab-one").addClass('hide');
                    $(".tab-two").addClass('hide');
                    $(".tab-three").addClass('hide');
                    $(".tab-four").removeClass('hide');
                    $(".demo").addClass('hide');

                }
            })
        })
//页面初始根据liNumber显示table
        if (liNumber == 0) {
            $("#bannerId").addClass('active').siblings().removeClass('active');
            findAllBanner(1, 10, null,0);
            $(".tab-one").removeClass('hide');
            $(".tab-two").addClass('hide');
            $(".tab-three").addClass('hide');
            $(".tab-four").addClass('hide');
            $(".demo").removeClass('hide');

        } else if (liNumber == 1) {
            $("#afficheId").addClass('active').siblings().removeClass('active');
            findAllAffiche(1, 10, null,0);
            $(".tab-one").addClass('hide');
            $(".tab-two").removeClass('hide');
            $(".tab-three").addClass('hide');
            $(".tab-four").addClass('hide');
            $(".demo").removeClass('hide');

        } else if (liNumber == 2) {
            $(".tab-one").addClass('hide');
            $(".tab-two").addClass('hide');
            $(".tab-three").addClass('hide');
            $(".tab-four").removeClass('hide');
            $(".demo").addClass('hide');

        } else {
            $(".tab-one").addClass('hide');
            $(".tab-two").addClass('hide');
            $(".tab-three").removeClass('hide');
            $(".tab-four").addClass('hide');
            $(".demo").removeClass('hide');
        }
    })

    //日期范围
    layui.use('laydate', function () {
        var laydate = layui.laydate;
        //日期范围
        laydate.render({
            elem: '#test6'
            , theme: '#3299fe'
            , range: '~'
            , done: function (value, date, endDate) {
                if (value == "") {
                    findAllBanner(1, 10, null,0);
                } else {
                    findAllBanner(1, 10, value,0);
                }
            }
        });
        laydate.render({
            elem: '#test2',
            theme: '#3299fe'
            , range: '~'
            , done: function (value, date, endDate) {
                if (value == "") {
                    findAllAffiche(1, 10, null,0);
                } else {
                    findAllAffiche(1, 10, value,0);
                }
            }
        });
        laydate.render({
            elem: '#test3',
            range: true
        });
    });



</script>