    <!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>地域行政单位管理-机构管理</title>
    <link rel="stylesheet" href="/vonder/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vonder/bootstrap-table/bootstrap-table.css">


    <link rel="stylesheet" href="/vonder/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/vonder/font_7grt4on8i7d/iconfont.css" media="all">
    <link rel="stylesheet" href="/css/common.css"/>
    <link rel="stylesheet" href="/css/model.css"/>
    <link rel="stylesheet" href="/css/zone.css"/>
    <link rel="stylesheet" href="/css/delete.css"/>
    <link rel="stylesheet" type="text/css" href="/vonder/select-select/css/index.css"/>

    <script src="/vonder/jquery-1.10.2/jquery-1.10.2.min.js"></script>
    <script src="/vonder/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="/vonder/layui/layui.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>

    <link rel="stylesheet" type="text/css" href="/vonder/select-search/jquery.searchableSelect.css"/>
    <script src="/select-search/jquery.searchableSelect.js"></script>

    <!--城市三级联动-->
    <script src="/vonder/select-select/js/citydata.min.js"></script>
    <script src="/vonder/select-select/js/cityPicker-2.0.3.js"></script>
    <script src="/vonder/bootstrap-table/bootstrap-table.js"></script>
    <script src="/vonder/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
    <style>
        .select-search {
            overflow: inherit !important;
        }

        .select-search .fromright .searchable-select {
            width: 300px !important;
            margin-bottom: 20px;
        }

        .searchable-select-input {
            width: 290px !important;
        }

        .searchable-scroll {
            max-height: 177px;
            overflow: auto;
        }
    </style>
</head>

<body>
<!--头-->
<#include "../common/header.html"/>
<div class="wrapper ">
    <div class="content">
        <!--左侧开始-->
        <#include "../common/menu.html"/>

        <!--右侧开始-->
        <div class="content-right">
            <!--机构管理——内容开始-->
            <div class="">
                <ul class="customer-ul">
                    <li>机构管理</li>
                </ul>
                <div class="second-tab">
                    <div class="show-title">
                        <div class="input-box">
                            <span>筛选：</span>
                        </div>
                        <div class="input-box">
                            <div class="layui-inline">
                                <div class="layui-input-inline">
                                    <input type="text" class="layui-input" id="test1"
                                           placeholder=" 2019-01-02 - 2019-05-10 ">
                                    <img src="/images/img/data.png"/>
                                </div>
                            </div>
                        </div>
                        <div class="input-box img-box">
                            <input type="text" placeholder="请输入行政单位名称筛选" class="layui-input " id="text_input"
                                   onblur="initTable()"/>
                            <img src="/images/img/search.png" alt=""/>
                        </div>
                        <button class="btn found" data-toggle="modal" data-target="#add" value=""
                                onclick="addRole()">新建角色
                        </button>
                        <table class="p-table" id="company_table">
                        </table>
                    </div>
                </div>
            </div>
            <!--分页开始-->
            <div id="demo" class="demo"></div>
        </div>

    </div>
</div>
<!--footer-->
<#include "../common/footer.html"/>


<!--删除模态框开始-->
<div class="modal fade modal-new results-sentencing assa" id="delete" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modal_c">
            <div class="modal-header modal_h">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="opacity: 1;">
                    <i class="layui-icon layui-icon-close closes"></i>
                </button>
                <h4 class="modal-title modal_t">提示</h4>
            </div>
            <div class="modal-body modal-b">
                <form>
                    <div class="fromboxs">你确定要删除吗？</div>
                    <div class="fromboxs anniu annius">
                        <button class="queding quedings" data-dismiss="modal" type="button"
                                onclick="deleteCompanyById()">确定
                        </button>
                        <button class="quxiao quxiaos" data-dismiss="modal">取消</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal -->
</div>
<!--删除模态框-结束-->
</body>

</html>
<script>

    //删除单位id
    var companyId;


    //日期范围
    layui.use('laydate', function () {
        var laydate = layui.laydate;
        //日期范围
        laydate.render({
            elem: '#test1',
            range: "~",
            done: function (value) {
                $("#test1").val(value);
                initTable();
            }
        });

    });


    initTable();
    $("#li_jggl").attr("class", "actives");



    function initTable() {


        var startTime = "";
        var endTime = "";
        if ($("#test1").val() !== "") {
            startTime = $("#test1").val().split("~")[0]+"00:00:00";
            endTime = ($("#test1").val().split("~")[1]+" 23:59:59").substr(1);
        }
        $("#company_table").bootstrapTable('destroy');
        var roleName = $("#text_input").val();
        $("#company_table").bootstrapTable({
            url: "/apis/role/findAllRoleName",
            method: "post",
            contentType: "application/json",
            ajax: undefined,
            sidePagination: "server",
            queryParams: function (params) {
                return {
                    pageNum: params.offset,
                    pageSize: params.limit,
                    startTime: startTime,
                    endTime: endTime,
                    roleName: roleName
                };
            },
            toolbar: '#toolbar',
            striped: false,
            cache: false,
            pagination: true,
            sortable: false,
            sortOrder: "desc",
            pageNumber: 1,
            pageSize: 10,
            pageList: [10, 20],
            onClickRow: function (row, $element) {
            },
            responseHandler: function (res) {
                return  {
                    rows: res.data.rows,
                    total: res.data.total
                };
            },
            columns: [{
                field: 'id',
                title: '序号'
            }, {
                field: 'roleName',
                title: '机构名称'
            }, {
                field: 'permissions',
                title: "权限码"
            }, {
                field: 'remarks',
                title: '备注'
            }, {
                field: 'createTime',
                title: '创建时间'
            }, {
                title: '操作内容',
                formatter: function (value, row) {
                    return '<span data-toggle="modal" data-target="#add" onclick="updateCompany(' + row.id + ')">修改</span><span data-toggle="modal" data-target="#delete" onclick="deleteCompany(' + row.id + ')">删除</span>';
                }
            }]
        });
    }
    function addRole(){
        window.location.href="../addDetail"
    }
    //删除
    function deleteCompany(id) {
        companyId = id;
    }

    function deleteCompanyById() {
        $.post("/apis/role/deleteRoleById", {id: companyId}, function (result) {
            if (result.success) {
                initTable();
            }
        });
    }
    function updateCompany(id) {
        window.location.href="../addDetail?id="+id;
    }

</script>