<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>文章管理-修改</title>
    <link rel="stylesheet" href="/vonder/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vonder/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/vonder/font_7grt4on8i7d/iconfont.css" media="all">
    <link rel="stylesheet" href="/css/common.css"/>
    <link rel="stylesheet" href="/css/model.css"/>
    <link rel="stylesheet" href="/css/zone.css"/>
    <link rel="stylesheet" href="/css/delete.css"/>
    <link rel="stylesheet" href="/css/customer.css"/>
    <!--ztree-->
    <link rel="stylesheet" href="/vonder/zTree_v3/css/zTreeStyle/zTreeStyle.css">
    <script src="/vonder/zTree_v3/js/jquery.ztree.all.js"></script>
    <script src="/vonder/zTree_v3/js/jquery.ztree.core.js"></script>
    <script src="/vonder/zTree_v3/js/jquery.ztree.excheck.js"></script>
    <script src="/vonder/zTree_v3/js/jquery.ztree.exedit.js"></script>
    <script src="/vonder/zTree_v3/js/jquery.ztree.exhide.js"></script>
    <script src="/vonder/jquery-1.10.2/jquery-1.10.2.min.js"></script>
    <script src="/vonder/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="/vonder/layui/layui.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>

    <!--bootstrap CheckBox美化-->
<!--    <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css">-->
    <link rel="stylesheet" type="text/css" href="/css/build.css"/>

    <link rel="stylesheet" type="text/css" href="/vonder/select-search/jquery.searchableSelect.css"/>
    <script src="/select-search/jquery.searchableSelect.js"></script>

    <!--提示框-->
    <link rel="stylesheet" type="text/css" href="/css/zebra_tooltips.css"/>
    <script src="/js/zebra_tooltips.js"></script>
</head>
<style>
    input {
        outline: none !important;
    }
</style>
<body>
<!--头-->
<#include "../common/header.html"/>
<div class="wrapper ">
    <div class="content">
        <!--左侧开始-->
        <#include "../common/menu.html"/>

        <!--右侧开始-->
        <div class="content-right">
            <!--地域管理——内容-->
            <div>
                <ul class="customer-ul">
                    <li>客户账号管理</li>
                </ul>
                <div class="customer-box">
                    <div class="fromboxs">
                        <div class="from-left">
                            文章标题：
                        </div>
                        <div class="from-right">
                            <input type="text" placeholder="请输入文章标题" autocomplete="off" id="title"/>
                        </div>
                    </div>
                    <div class="fromboxs">
                        <div class="from-left">
                            内容：
                        </div>
                        <div class="from-right">
                           <textarea id="content" placeholder="请填写内容" style="display: none;"></textarea>
                        </div>
                    </div>
                    <div class="fromboxs">
                        <div class="from-left">
                            文章序号：
                        </div>
                        <div class="from-right">
                            <input type="text" placeholder="请输入文章序号" autocomplete="off" id="sort"/>
                        </div>
                    </div>
                </div>
                <div class="click">
                    <button class="btn save" onclick="saveArticle()">保存</button>
                    <button class="btn off">取消</button>
                </div>
            </div>
        </div>

    </div>
</div>
<#include "../common/footer.html"/>
</body>
</html>
<script>

    $("#li_khzh").attr("class", "actives");

    $(".off").click(function () {
        window.location.href = "ArticleList"
    });

    //提示框
    $(document).ready(function () {
        new $.Zebra_Tooltips($('.zebra_tips1'));
    });

    $(".return").click(function () {
        window.location.href = "logout"
    });
    //富文本
    layui.use('layedit', function(){
        var layedit = layui.layedit;
        layedit.build('content'); //建立编辑器
    });
    layedit.getContent(index) //获取html
    layedit.getText(index) // 获取纯文本

    initCompany();
    function saveArticle() {
        var title = $("#title").val();
        if (title === "" || title === 0) {
            alert("操作失败,请添加文章标题");
            return false;
        }

        var content =  layedit.getText(index)
        var sort = $("#sort").val();
        var id = getUrlParam("id");

        $.post("/apis/article/saveArticle", {
           // id: id,
            title: title,
            content: content,
            sort: sort
        }, function (result) {
            if (result.success) {
                window.location.href = "/ArticleList";
            } else {
                alert(result.msg)
            }
        });
    }

    initUser();

    function initUser() {
        var id = getUrlParam("id");
        if (id != null && id !== "") {
            $.post("/apis/article/findArticleById", {id: id}, function (result) {
                if (result.success) {
                    $("#title").val(result.data.title);
                    $("#content").val(result.data.content);
                    $("#sort").val(result.data.sort);
                }
            })
        }
    }

    function getUrlParam(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if (r != null) return r[2];
        return "";
    }


</script>