.content{
	background:#f4f4f4;
	width: 100%;
	height: auto;
	font-family: '微软雅黑';
	padding-bottom: 30px;
}
.span{
	padding:24px 58px;
	font-family: "微软雅黑";
	font-size: 12px;
	color: #868e9a;
}
.span a{
	font-family: "微软雅黑";
	font-size: 12px;
	color: #868e9a;
	text-decoration: none;
}
.center{
	margin: 0 auto;
	background: #ffffff;
	width: 96%;
	padding: 20px 20px;
	height: 600px;
}
.layui-input-inline{
	width: 130px !important;
}
.layui-input{
    width:130px;
}

.layui-form-label{

	font-size: 14px;
	color: #464e5a;
	width: 90px;
}

.li{
	float: left;
	display: inline;
	margin-right: 30px;
}

.button{
	display: inline;
	float: right;
}
.layui-table tr td:hover{
	 background-color: transparent;
}
.top ul li span{
	font-size: 14px;
	color: #464e5a;
}
/*table*/
.table{
	font-size: 14px;
	font-family: '微软雅黑';
	color: #515c75;
	border:1px solid #e6e9f0 !important;
}
.table tr th{
	font-size: 14px;
	font-family: '微软雅黑';
	color: #515c75;
    text-align: center;
    border:1px solid #e6e9f0 !important;
}
.table tr td{
	font-size: 13px;
	font-family: '微软雅黑';
	color: #868e9a;
    text-align: center;
    padding-top:15px !important;
    border:1px solid #e6e9f0 !important;
}
td:nth-child(1){
    text-align: center;
}
td:nth-child(2){
    text-align: center;
}
td:nth-child(3){
    text-align: center;
}
td:nth-child(5){
    text-align: center;
}
.a{
	font-size: 13px;
	color: #3299fe;
	text-decoration: none;
}
.a:hover{
	color: #3299fe;
    text-decoration: none;
}
.bottom{
	float: right;
	/*padding-top: 25px;*/
}
.layui-form-select dl dd.layui-this{
	background-color: #3299fe;
}


.layui-input-block{
	margin:0 !important;
}
.biaoti{
	float:left;
	font-family: "微软雅黑";
	font-size: 14px;
	color:#515C75;
	line-height: 38px;
	margin-right: 16px;
}
.layui-input-block{
	float:left;
	height:38px;
}

.chongzhi{
	float: right;
	font-family: "微软雅黑";
	font-size: 14px;
	text-align: center;
	line-height: 10px;
	padding:12px 18px;
	color:#fff;
	border:1px solid #3299fe;
	background: #3299fe;
	border-radius: 5px;
	margin-right: 10px;
}

.textcenter{
	text-align: left !important;
	padding-left: 20px !important;
	}