*{padding: 0;margin: 0;}
ul,li{list-style:none;}
a{text-decoration: none;}
a:hover{text-decoration: none;cursor: pointer;}
a:focus{text-decoration: none;}
a:active{text-decoration: none;}
body{width: 100%;height: 100%;font-family: "微软雅黑";}

/*头部select框*/
.clue_tab_cont{
	width: 1200px;
	margin: 0 auto;
}
.clue_tab_tlt{
	color:#333;
	font-size: 20px;
	width: 100%;
	text-align: center;
}
.clue_tab_tlt ul li{
	display: inline-block;
	margin: 36px 25px;
}
.clue_tab_tlt ul li a:hover{
	color:#5b72e1;
	border-bottom:3px solid #5b72e1;
	padding-bottom:10px;
	transform: scale3d(0, 1, 1);
	transform-origin: center;
	transition: all 0.3s;
}
.clue_tab_act{
	color:#5b72e1;
	border-bottom:3px solid #5b72e1;
	padding-bottom:10px;
}
.clue_tab_contbg{
	background:url(../images/clues/clues_tabbg.png) center;
	margin-bottom: 45px;
}
.clue_int_d{
	display: inline-block;
	font-size: 16px;
	color:#5b72e1;
	padding: 5px;
	background: #fff;
	border-radius: 8px;
	margin: 20px;
	text-align: center;
}
.clue_int_d select{
	margin-left: 2px;
	font-size: 16px;
	border: 0;
	width: 100px;
	outline:none;
	appearance:none;  
	-moz-appearance:none;  
	-webkit-appearance:none;  
	background: url(../images/clues/clues_jtxia.png) no-repeat right;
	padding: 0 0 0 10px;
}
.clue_int_d select:hover{
	cursor: pointer;
}
.clue_int_d input:hover{
	cursor: pointer;
}
.clue_int_d div{
	display: inline-block;
}
.clue_int_dint{
	margin-left: 2px;
	font-size: 16px;
	border: 0;
	width: 118px;
	outline:none;
	background: url(../images/clues/clues_jtxia.png) no-repeat right;
}
.clue_tab_right{
	float: right;
	margin-right: 30px;
}
.clue_tab_right div{
	display: inline-block;
}
.clue_stramp{
	background: url(../images/clues/clues_stamp.png) no-repeat;
	width: 36px;
	height: 36px;
	margin-top: 22px;
	margin-right: 20px;
}
.clue_derive{
	background: url(../images/clues/clues_derive.png) no-repeat;
	width: 36px;
	height: 36px;
	margin-top: 22px;
}
.clue_stramp:hover{
	cursor: pointer;
}
.clue_derive:hover{
	cursor: pointer;
}
/*表格样式*/
.clue_tab{
	width: 95%;
	margin: 0 auto;
}
.clue_tab table{
	text-align: center;
	width: 100%;
}
.clue_tab table tr th{/*头部样式*/
	font-size: 16px;
	padding: 24px 30px;
	border: 1px solid #fff;
	color: #fff;
	text-align: center;
}
.clue_tab table tr td{/*表格内容样式*/
	font-size: 14px;
	color: #fff;
	border: 1px solid #fff;
	padding: 20px 0;
}
.clue_tab_left{
	margin-left: 5px;
}
.clue_tab_state{
	color:#ff731f;
}
.clue_tab_state1{
	color:#b5ed0c;
}
.clue_tab_state2{
	color:#e5d970;
}
.clue_tab_state3{
	color:#ff731f;
}
.clue_tab_state4{
	color: #cbcbcb;
}
.clue_tab_state5{
	color: #ff731f;
}
.clue_tab_btn{
	background: -webkit-linear-gradient(#aab6ef,#5267cc); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#aab6ef,#5267cc); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#aab6ef,#5267cc); /* Firefox 3.6 - 15 */
    background: linear-gradient(#aab6ef,#5b72e1,#5267cc); /* 标准的语法（必须放在最后） */
	padding: 5px 8px;
	border: 0;
	border-radius: 8px;
	margin-right: 5px;
}
.clue_tab_btn1{
	background: -webkit-linear-gradient(#aab6ef,#5267cc); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#aab6ef,#5267cc); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#aab6ef,#5267cc); /* Firefox 3.6 - 15 */
    background: linear-gradient(#aab6ef,#5b72e1,#5267cc); /* 标准的语法（必须放在最后） */
	padding: 5px 8px;
	border: 0;
	border-radius: 8px;
	margin-right: 5px;
}
.clue_tab table tr td button:hover{
	background: #5b72e1;
}
.clue_tab table tr td button:active{
	background: #5267cc;
}
/*分页*/
.pagination{
	float:right;
	margin: 20px;
	font-size: 18px;
	color: #fff;
}
.pagination ul li{
	float: left;
	margin-right: 5px;
	padding:0 6px;
}
.pagination ul li:hover{
	cursor: pointer;
}
.pagination_act{
	color: #8ba7ff
}
/*机关线索*/
.clue_left_box{
	display: inline-block;
	background: url(../images/clues/leftbg.png) no-repeat center ;
	font-size: 20px;
	border-radius: 0 50px 50px 0;
}
.clue_right_box{
	display: inline-block;
	float: right;
}
.clue_left_ulbox{
	margin:30px;
}
.clue_left_ulbox ul li{
	margin-bottom: 20px ;
	color: #fff;
	font-family: "微软雅黑";
	font-size: 18px;
}
/*.clue_left_ulbox ul li:first-child{
	list-style-image:url(../images/clues/clues_licicle.png);
}*/
.clue_left_ulbox ul li:hover{
	cursor: pointer;
	color: #e1d983;
}


.clue_left_ulactive{
	color: #e1d983;
}
.clue_stramp1{
	background: url(../images/clues/clues_stamp1.png) no-repeat;
	width: 30px;
	height: 30px;
	margin-top: 25px;
	margin-right: 20px;
}
.clue_derive1{
	background: url(../images/clues/clues_derive1.png) no-repeat;
	width: 30px;
	height: 30px;
	margin-top: 25px;
	margin-right: 20px;
}
.clue_upload{
	background: url(../images/clues/clues_upload.png) no-repeat;
	width: 30px;
	height: 30px;
	margin-top: 25px;
}
.clue_stramp1:hover{
	cursor: pointer;
}
.clue_derive1:hover{
	cursor: pointer;
}
.clue_upload:hover{
	cursor: pointer;
}
.clue_tabtit{
	color: #fff;
	font-size: 20px;
	margin: 20px 20px 0 20px;
}
/*举报线索查看*/
.look{
	color:#fff;
	text-decoration: none;
}
.look:hover{
	color:#fff;
	text-decoration: none;
}
