.customer-ul{
	overflow: hidden;
	cursor: pointer;
	padding: 0 20px;
	border-bottom: 1px solid #ddd;
}
.customer-ul li{
	padding-bottom: 10px;
	font-size: 18px;
	font-weight:600;
}
.customer-box{
	margin: 20px 0;
	padding-left: 20px;
}
.peizhi .table tr td:first-child {
	background: #e7f3ff;
}
.peizhi .table tr th:last-child {
	text-align: left;
	padding-left: 35px !important;
}
.peizhi .table tr td:last-child {
	text-align: left;
	padding-left: 30px !important;
}
.checkbox{
	width: 20%;
	float: left;
	margin-top: 0 !important;
	margin-bottom: 0;
}
input[type=checkbox], input[type=radio]{
	margin-right: 10px;
}
.table-bordered>thead>tr>th{
	border-bottom-width: 0;
}

/*客户账号管理表单*/
.fromboxs .from-left{
	width: 10%;
	float: left;
	text-align: right;
	line-height: 40px;
}
.fromboxs .from-right{
	width: 90%;
	float: right;
}
.click{
	width:30%;
	margin: auto;
}
.click button:hover{
	color: #fff;
}
.click .save{
	color: #fff;
	margin-right: 31%;
	background: #1E9FFF;
}
.click .off{
	color: #fff;
}
.radio-info input[type="radio"]:checked + label::before{
	border-color: #1E9FFF !important;
}
.radio-info input[type="radio"]:checked + label::after{
	background-color: #1E9FFF !important;
}
.checkbox-primary input[type="checkbox"]:checked + label::before, .checkbox-primary input[type="radio"]:checked + label::before{
	border-color: #1E9FFF !important;
	background-color: #1E9FFF !important;
}

.Zebra_Tooltip .Zebra_Tooltip_Message{
	background: #fff !important;
	color: #333 !important;
	padding: 6px !important;
}
.Zebra_Tooltip .Zebra_Tooltip_Arrow_Bottom div{
	border-color: rgb(255, 255, 255) transparent !important;
}

/*权限管理*/
.td{
	background: #fff !important;
}
.table-box{
	width:85%;
}

.select-search{
	overflow: inherit !important;
}
.searchable-select-dropdown{
	z-index:1;
}
.searchable-select-input{
	width: 287px !important;
	margin-left: 0;
}
.searchable-select{
	width: 300px;
	margin-bottom: 20px;
}
.zebra_tips1 img{
	margin-top: -20px;
	margin-left: 10px;
}
.searchable-select-item.selected{
	background: #1E9FFF !important;
}
