.fileUploadContent .box{
    border: solid thin #DDDDDD;
    min-height: 120px;
    width: 400px;
    margin-top: 10px;
    text-align: center;
}
.fileUploadContent .fileItem{
    width: 100px;
    display: inline-block;
    margin: 10px;
    text-align: center;
    border-radius: 5px;
    vertical-align:top;
}
.fileUploadContent .fileItem .imgShow{
    width: 80px;
    height: 62px;
    margin: 5px auto;
    text-align: center;
}
.fileUploadContent .fileItem .imgShowResult{
    width: 140px;
    height: 170px;
    margin: 5px auto;
    text-align: center;
}
.fileUploadContent .fileItem .imgShow i{
    font-size: 40px;
    position: relative;
    top:-18px;
    z-index: 2;
    color: #c4d1e5;
}
.fileUploadContent .fileItem .imgShow img{
    width: 67%;
    height: 79%;
}
.fileUploadContent .fileItem .imgShow .fileType{
    color: #ccc;
    font-size: 12px;;
    position: relative;
    top:46px;
    z-index: 3;
    left: 2px;
}
.fileUploadContent .fileItem .progress{
    height: 5px;
    width: 60%;
    margin: 0 auto;
}
.fileUploadContent .fileItem .progress>.progress_inner{
    background-color: #0099FF;
    width: 0%;
    height: 5px;
    border-radius: 10px;
}
.fileUploadContent .fileItem .progress .error{
    background-color: red;
}
.fileUploadContent .fileItem .down {

    text-align: center;
    border: solid thin #FFFFFF;
}
.fileUploadContent .fileItem .down i{
    display: flex;
    margin-top: -140px;
    margin-left: 110px;
    font-size: 23px;
    cursor: pointer;
    color:#0099FF;
    font-weight: bold;
    z-index: 999;
    position: absolute;
}
.fileUploadContent .fileItem {
	position: relative;
}
.fileUploadContent .fileItem .status{
	position: absolute;
	right: 0;
	top: 0;
    font-size: 15px;
    text-align: center;
}
.fileUploadContent .fileItem .status i{
    display: block;
    padding: 2px 5px;
    color: #a5afbd;
    margin-left: 3px;
    border-radius: 5px;;
    font-size: 15px;
    cursor: pointer;
}
.fileUploadContent .fileItem .fileName{
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    overflow: hidden;
    clear: both;
    padding: 2px 2px;
}
.fileUploadContent .uploadBts {
    text-align: left;
    height: 20px;
}
.fileUploadContent .uploadBts>div{
    float: left;
    margin-right: 15px;
}
.fileUploadContent .uploadBts>div .selectFileBt{
    border: none;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
}
.fileUploadContent .uploadBts>div .selectFileBt:hover{
    color: #DDDDDD;
}
.fileUploadContent .uploadBts>div i{
    font-size: 18px;
    color: #0099FF;
    cursor: pointer;

}
.fileUploadContent .subberProgress{
    padding: 15px 0 0 5px;
    display: none;
}
.fileUploadContent .subberProgress .progress{
    /*border:solid thin #0099FF;*/
    height: 10px;
    width: 380px;
    border-radius: 20px;
    overflow: hidden;
}
.fileUploadContent .subberProgress .progress>div{
    background-color: #0099FF;
    width: 0%;
    height: 20px;
    /*border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;*/
    text-align: center;
    color: #FFFFFF;
    transition: width 0.5s;
    -moz-transition: width 0.5s;	/* Firefox 4 */
    -webkit-transition: width 0.5s;	/* Safari 和 Chrome */
    -o-transition: width 0.5s;	/* Opera */
    transition-timing-function: linear;
    -moz-transition-timing-function: linear;
    -webkit-transition-timing-function: linear;
    -o-transition-timing-function: linear;
}
.uploadBts .selectFileBt{
	background: none !important;
	color: #3299fe!important;;
	font-size: 14px;
}
.uploadBts .selectFileBt:hover{
	color: #3299fe!important;;
}
