html,body{
	width:100%;
	height:100%;
	background: #fff;
	position: relative;
}
/*头部*/
.headerapp{
	width:100%;
	height:2.76rem;
	background: #fff;
	line-height: 2.76rem;
	font-family: "微软雅黑";
	font-size: 0.81rem;
	color:#515151;
	font-weight: bold;
}
.headerapp img{
	width:1.2rem;
	height:1.2rem;
	margin-left: 0.6rem;
	margin-right: 0.3rem;
}


/*法律法规内容*/
.contenttextbox{
	width:100%;
	height:auto;
	overflow: auto;
}
.contentli{
	width:100%;
	height:auto;
	background: #fff;
	border-top: 0.01rem solid #ccc;
	padding:1rem 0.8rem;
}
.contentli:hover{
	background: #f4f4f4;
}
.contenttitle{
	font-family: "微软雅黑";
	font-size:0.6rem ;
	color:#525252;
	font-weight: bold;
}
.contenttext{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-family: "微软雅黑";
	font-size:0.54rem ;
	color:#949494;
	margin-top:0.4rem;
}
.time{
	font-family: "微软雅黑";
	font-size:0.5rem ;
	color:#949494;
	margin-top: 0.4rem;
}
.timeimg{
	width:0.8rem;
	margin-right:0.4rem;
}
/*底部*/
.footapp{
	width:100%;
	height:2.84rem;
	padding:0 10%;
	overflow: hidden;
	position: absolute;
	bottom: 0;
	left:0;
	border-top: 0.03rem solid #ccc;
	background: #f4f4f4;
}
.footli{
	float: left;
	width:33.333%;
	height:100%;
	text-align: center;
	padding-top:0.4rem;
}
.foottop{
	width:100%;
	height:1.42rem;
}
.foottop img{
	height:1rem;
}
.footword{
	width: 100%;
	height:1.42rem;
	line-height: 0.7rem;
	font-family: "微软雅黑";
	font-size: 0.57rem;
	color:#525252;
}
.activecolor{
	color:#3299fe;
}
