*{margin: 0;padding: 0;}
html,body{height: 100%;width: 100%;font-size: 10px;font-family: "微软雅黑";}
ul,li{list-style: none;}

body{
	background: url(../images/loginnew/login_body.png)  no-repeat;
	background-size: 100% 100%;
	position: relative;
}
@media screen and (min-width:960px) and (max-width:1366px){
  .login_header h3{
	font-size: 20px;
	}
}
@media screen and (min-width:1366px) and (max-width:1440px){
  .login_header h3{
	font-size: 25px;
	}
}
@media screen and (min-width:1440px) and (max-width:1920px){
  .login_header h3{
	font-size: 30px;
	}
}


.login_box{
	position: absolute;
	top: 15%;
	width: 30%;
}
.login_header{
	margin: 0 auto;
}
.login_header h3{
	color: #fff;
}
.login_form{
	height: 37.8%;
	background: rgba(0,0,0,.3);
	margin-top: 1%;
}
.login_form ul{
	width: 80.37%;
	margin: 26px auto 0 auto;
	padding-top: 20px;
}
.login_form ul li{
	border-bottom: 1px solid #a5bdff;
	padding: 8px 5px;
	padding-top: 10%;
}
.login_form ul li img{
	height: 22px;
	width: 20px;
	margin-bottom: 6px;
}
.login_form ul li input{
	border: none;
	border-left: 1px solid #344fbd;
	padding-left: 1em;
	background:none;
	color: #fff;
	height: 16px;
	font-size: 16px;
	margin-left: 1em;
	width: 85%;
}
.login_form ul li input:focus{
	outline: none;
}
.login_form ul li input::-webkit-input-placeholder { /* WebKit browsers */
    color: #2f64f6;
    font-size: 13px;
}
.login_form ul li input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #2f64f6;
    font-size: 13px;
}
.login_form ul li input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #2f64f6;
    font-size: 13px;
}
.login_form ul li input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #2f64f6;
    font-size: 13px;
}
.login_form_psd{
	font-size: 12px;
	color: #fff;
	margin-top: 8%;
}
.login_form_psd span{
	vertical-align: middle;
	margin-left: 10px;
}
.login_form_btn{
	color: #fff;
	background: #2f64f6;
	border: none;
	border-radius: 5px;
	width: 100%;
	padding: 10px 0;
	margin-top: 10%;
	margin-bottom: 15%;
}
