.selectboxs {
	width: 348px;
	height: 40px;
	position: relative;
	overflow: hidden;
	float: right;
	margin-bottom: 16px;
}

.sel {
	width: 105px;
	height: 50px;
	background: #f4f4f4;
	border: none;
	padding-left: 10px;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #464e5a;
	border-right: 1px solid #e6e9f0;
}

select {
	/*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/
	/* border: solid 1px #000;*/
	/*将默认的select选择框样式清除*/
	appearance: none !important;
	-moz-appearance: none !important;
	-webkit-appearance: none !important;
	/*在选择框的最右侧中间显示小箭头图片*/
	background: url(../images/index/ico-arrow.png) no-repeat scroll 90% center transparent !important;
	/*为下拉小箭头留出一点位置，避免被文字覆盖*/
	padding-right: 10px;
}

.inp {
	width: 100%;
	height: 40px;
	padding-left: 10px;
	padding-right: 37px;
	border: 1px solid #eee;
	border-radius: 4px;
	overflow: hidden;
	/*white-space:nowrap; 
	text-overflow:ellipsis;*/
}

.search {
	width: 14px;
	position: absolute;
	top: 12px;
	right: 13px;
	cursor: pointer;
}


/*类型开始*/

.typebox {
	width: 63%;
	height: 222px;
	padding: 20px;
	overflow: hidden;
	margin: 26px auto 30px auto;
}

.type {
	width: 100%;
	height: 222px;
	border: 1px solid #e6e9f0;
	border-bottom: none;
}

.typech {
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #e6e9f0;
}

.typechleft {
	float: left;
	width: 8%;
	height: 100%;
	background: #f4f4f4;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #464e5a;
	text-align: center;
	line-height: 50px;
	border-right: 1px solid #e6e9f0;
}

.typechright {
	float: left;
	width: 82%;
	height: 100%;
	font-family: "微软雅黑";
	font-size: 12px;
	color: #464e5a;
	text-align: center;
	line-height: 50px;
	padding-left: 30px;
}

.typeli {
	float: left;
	text-align: left;
	cursor: pointer;
	margin-right: 10px;
}
.typeli img{
	margin-right: -5px;
	margin-top: -3px;
}
.img3{
	margin-right: 3px !important;
}
.typespan {
	padding: 8px 13px;
	border-radius: 5px;
}

.activespan {
	background: #3299fe;
	color: #fff;
	padding: 8px 13px;
	border-radius: 5px;
}


/*列表开始*/

.publictitle {
	margin-bottom: 16px;
	margin-top: 20px;
	float: left;
}

.publiclist {
	width: 100%;
	height: auto;
	overflow: hidden;
	padding: 0 35px;
	margin-bottom: 20px;
}
.a{
    color:#3299fe !important;
}
.caozuo {
	font-family: "微软雅黑";
	font-size: 14px;
	color: #B7B7B7;
	cursor: pointer;
	margin-left: 20px;
}

.caozuo:hover {
	font-family: "微软雅黑";
	font-size: 14px;
	color: #3060a0;
	cursor: pointer;
	margin-left: 20px;
}

.publictext {
	width: 98%;
	height: auto;
	border: 1px solid #e6e9f0;
	padding: 15px 15px;
	position: relative;
	overflow: hidden;
	float: right;
}

.textp {
	width: 100%;
	font-family: "微软雅黑";
	font-size: 18px;
	font-weight: bold;
	color: #464e5a;
	margin-bottom: 15px;
	cursor: pointer;
}

.textp span {
	background: #eceef3;
	padding: 3px 10px;
	font-family: "微软雅黑";
	font-size: 11px;
	color: #868e9a;
	margin-left: 10px;
}

.textcontent {
	font-family: "微软雅黑";
	font-size: 14px;
	color: #464e5a;
	margin-left: 25px;
	line-height: 20px;
	margin-bottom: 20px;
}

.names {
	font-family: "微软雅黑";
	font-size: 14px;
	color: #868e9a;
	margin-left: 25px;
	margin-top: 20px;
}

.times {
	font-family: "微软雅黑";
	font-size: 14px;
	color: #868e9a;
}

.rightcz {
	width: 60%;
	height: 30px;
	float: right;
	margin-top: -7px;
}

.caozuos {
	float: right;
	text-align: right;
	margin-right: 20px;
	line-height: 30px;
	cursor: pointer;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #3299fe;
}

.caozuos:hover {
	float: right;
	text-align: right;
	margin-right: 20px;
	line-height: 30px;
	cursor: pointer;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #3060a0;
}

.pulicright {
	float: right;
	cursor: pointer;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #464e5a;
}

.pulicright img {
	margin-right: 10px;
}

.two {
	float: right;
	cursor: pointer;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #464e5a;
}

.two img {
	margin-right: 10px;
}

.show {
	box-shadow: 0px 5px 15px rgba(204, 204, 204, 0.5);
}

.zhengti {
	width: 100%;
	margin-bottom: 20px;
	overflow: hidden;
}

.icheckbox_minimal-blue {
	margin-left: 20px !important;
}
.icheckbox_square-blue{
	margin-right: 14px !important;
}
.contentright {
	float: none;
}

/*分页样式*/
.pagination>.active>span{
	background-color: #3299fe !important;
	border-color: #3299fe !important;
}

@media screen and (min-width: 900px) and (max-width: 1366px) {
	.typebox {
		width: 90%;
	}
	.publictext{
		width: 97%;
	}
}

@media screen and (min-width: 1367px) and (max-width: 1440px) {
	.typebox {
		width: 90%;
	}
	.publictext{
		width: 97%;
	}
}

@media screen and (min-width: 1441px) and (max-width: 1600px) {
	.typebox {
		width: 76%;
	}
}

@media screen and (min-width: 1601px) and (max-width: 1920px) {
	.typebox {
		width: 72%;
	}
}