*{margin: 0;padding: 0;}
html,body{height: 100%;width: 100%;font-size: 10px;font-family: "微软雅黑";}
.clearfix{overflow: hidden;}

.Re_p_header{
	width:100%;
	background: #fff;
	position: fixed;
}
.Re_p_hdiv{
	width: 62.5%;
	height: 120px;
	margin: 0 auto;
}
.Re_p_hdiv img{
	padding: 2.5rem 0 2.5rem 0.5rem;
}
.Re_p_con{
	padding-top: 120px;
}
.Re_p_conhe{
	width: 100%;
	background:#f4f4f4;
	border-bottom: 1px solid #e6e9f0;
	border-top:1px solid #e6e9f0;
}
.Re_p_conhe div{
	width: 62.5%;
	margin: 0 auto;
	padding: 3.5rem 2rem;
}
.Re_p_conhe div h3{
	color: #3299fe;
	font-size: 1.8rem;
	text-align: center;
	padding-bottom: 2rem;
}
.Re_p_conhe div p{
	text-indent: 2em;
	font-size: 1.4rem;
	color:#464e5a;
	line-height: 2;
}
.Re_p_consel{
	width:  62.5%;
	margin: 3.4rem auto;
	padding-left: 2rem;
	padding-bottom: 3.4rem;
	border-bottom: 1px #e6e9f0 dashed;
	font-size: 1.6rem;
	color:#464e5a;
}
.Re_p_consel div{
	display: inline-block;
}
.Re_p_consel .iradio_minimal-blue{
	display: inline-block;
	margin-right: 1rem !important;
}
.Re_p_cstwo{
	margin-left: 3.4rem;
}
.Re_p_contab,.Re_p_contab1{
	width:  62.5%;
	margin: 0 auto 7.6rem auto;
}
.Re_p_ctbox{
	margin-bottom: 3.6rem;
}
.Re_p_ctl{
	float: left;
	width: 14%;
	font-size: 1.4rem;
	color: #464e5a;
	padding-left: 2rem;
	line-height: 4rem;
	vertical-align: middle;
}
.Re_p_ctr{
	float: left;
	width: 86%;
	font-size: 1.2rem;
}
.Re_p_ctr_in1{
	width: 55rem;
	height: 4rem;
	text-indent: 1rem;
	border: 1px solid #d7dde4;
	border-radius: 5px;
}
.Re_p_ctr_in2{
	width: 55rem;
	height: 12.2rem;
	border: 1px solid #d7dde4;
	border-radius: 5px;
	padding: 1rem;
	resize:none;
}
.Re_p_ctrbtn{
	padding-left: 14%;
}
.Re_p_ctr_btn1{
	width: 8.4rem;
	height: 3.6rem;
	background: #3299fe;
	color: #fff;
	border: 0;
	font-size: 1.5rem;
	border-radius: 5px;
}
.Re_p_ctr_btn2{
	width: 8.4rem;
	height: 3.6rem;
	background: #fff;
	color: #464e5a;
	border: 1px solid #d7dde4;
	font-size: 1.5rem;
	border-radius: 5px;
	margin-left: 28px;
}
.Re_p_ctrs{
	float: left;
	font-size: 1.2rem;
	color:#868e9a;
	padding-left: 2rem;
	padding-top: 7rem;
	display: inline-block;
}
.upimgbox img,.upimgbox1 img{
	float: left;
	margin-right: 2rem;
	margin-bottom: 2rem;
	width: 110px;
	height: 110px;
}
.upimgbox,.upimgbox1{
	float: left;
	display: inline;
}
.upbtn,.upbtn1{
	border: 0;
	float: left;
}
.upbtn img,.upbtn1 img{
	cursor: pointer;
	float: left;
	margin-right: 0rem;
	margin-bottom: 0rem;
}
.imgmax{
	float: left;
}

.footer{
	width:100%;
	height:55px;
	text-align: center;
	background: #3f5d85;
	font-size: 12px;
	color:#fff;
	line-height: 55px;
}
/*头部定位*/
.fixedNav{
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	z-index:100000;
	box-shadow:0 0 10px rgba(0, 0, 0, 0.2);
}

