html,body{
	width:100%;
	height:100%;
	background: #fff;
	position: relative;
}
/*头部*/
.headerapp{
	width:100%;
	height:2.76rem;
	background: #fff;
	line-height: 2.76rem;
	font-family: "微软雅黑";
	font-size: 0.81rem;
	color:#515151;
	font-weight: bold;
}
.headerapp img{
	width:1.2rem;
	height:1.2rem;
	margin-left: 0.6rem;
	margin-right: 0.3rem;
}

/*填写内容开始*/
.commentary{
	width:100%;
	height:auto;
	padding:0.84rem 1.5rem;
	background: #f4f4f4;
}
.commentarytitle{
	font-family: "微软雅黑";
	font-size: 0.6rem;
	text-align: center;
	color:#3299fe;
	font-weight: bold;
}
.comtext{
	font-family: "微软雅黑";
	font-size: 0.48rem;
	text-align: left;
	color:#464e5a;
	text-indent: 2em;
	margin-top: 0.6rem;
	line-height: 1rem;
}
/*单选框*/
.jubao{
	padding:0.6rem 1.5rem;
}
.jubao label{
	margin-right: 1.5rem;
	font-weight: normal;	
	font-family: "微软雅黑";
	font-size: 0.6rem;
	color:#525252;
}
.iradio_minimal-blue{
	margin-right: 0.5rem !important;
}
/*举报内容*/
.shiming{
	width:100%;
	height:auto;
	border-top: 0.05rem dashed #ccc;
	padding:0.6rem 1.5rem;	
}
.niming{
	width:100%;
	height:auto;
	border-top: 0.05rem dashed #ccc;
	padding:0.6rem 1.5rem;
}
.jubaobox{
	width:100%;
	height:auto;
	overflow: hidden;
	margin-bottom: 0.9rem;
}
.bi{
	font-family: "微软雅黑";
	font-size: 0.6rem;
	color:#fe0000;
}
.textone{
	font-family: "微软雅黑";
	font-size: 0.6rem;
	color:#525252;
}
.inputcss{
	width:100%;
	height:1.78rem;
	border:1px solid #ccc;
	border-radius: 5px;
	margin-top: 0.6rem;
	font-size: 0.5rem;
	color:#949494;
	padding-left: 0.6rem;
}
.textareacss{
	width:100%;
	height:3rem;
	border:1px solid #ccc;
	border-radius: 5px;
	margin-top: 0.6rem;
	font-size: 0.5rem;
	color:#949494;
	padding-left: 0.6rem;
	padding-top:0.3rem;
}
.didian{
	width:0.8rem;
	position: absolute;
	bottom:0.4rem;
	right:0.5rem;
	cursor: pointer;
}
.jubaobtn{
	width:100%;
	height:1.78rem;
	background: #3299fe;
	font-family: "微软雅黑";
	font-size: 0.69rem;
	color:#fff;
	border: none;
	border-radius: 5px;
}
/*上传*/
.upimgbox1{
	margin-top:0.4rem;
}
.upimgbox1 img{
	width:3rem;
    height:3rem;
    margin-right: 0.6rem;
    margin-bottom: 0.4rem;
}
.btnone{
	margin-top:0.6rem;
	background: #fff;
	border:none;
}
.upload{
    opacity:0;
    filter:alpha(opacity=0);
    height: 4rem;
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;        
}
.upimg{
    width:3rem;
    height:3rem;
}


.upimgbox2{
	margin-top:0.4rem;
}
.upimgbox2 img{
	width:3rem;
    height:3rem;
    margin-right: 0.6rem;
    margin-bottom: 0.4rem;
}
.btntwo{
	margin-top:0.6rem;
	background: #fff;
	border:none;
}
.uploadtwo{
    opacity:0;
    filter:alpha(opacity=0);
    height: 4rem;
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;        
}
.upimgtwo{
    width:3rem;
    height:3rem;
}
.hide{
	display: none;
}
#allmap{
	width: 100%;
	height: 100%; 
	position: fixed !important;
	top:0; 
	z-index: 2 !important;
}
