.content{
	background: #f4f4f4;
	background-image: url('../images/work/beijing.png');
	background-repeat: no-repeat;
	background-size: 100% ;
	background-position: 0px 100%;
}
.doc_man_tit{
	width:100%;
    font-size: 13px;
    font-family: '微软雅黑';
    color: #868e9a;
    padding: 40px;
}
.dmc_right_p1{
	font-family: '微软雅黑';
	font-size: 16px;
	color: #464e5a;
	font-weight: bold;
}
.dmc_right_p2{
	font-family: '微软雅黑';
	font-size: 13px;
	color: #868e9a;
}
@media screen and (max-width: 1920px) {
	.guandian{
		border: 1px solid #eee;
		background: #fff;
		height: 140px;
		box-shadow:10px 10px 20px #e9e9e9;
		padding:20px 10px;
		margin-bottom: 20px;
		cursor: pointer;	
	}
}
@media screen and (max-width: 1440px) {
	.guandian{
		border: 1px solid #eee;
		background: #fff;
		height: 150px;
		box-shadow:10px 10px 20px #e9e9e9;
		padding:20px;
		margin-bottom: 20px;	
		cursor: pointer;
	}
}
@media screen and (max-width: 1366px) {
	.guandian{
		border: 1px solid #eee;
		background: #fff;
		height: 160px;
		box-shadow:10px 10px 20px #e9e9e9;
		padding:20px 10px;
		margin-bottom: 20px;	
		cursor: pointer;
	}
}
.dmc_left{
	float: left;
	width:30%;
	overflow: hidden;
	text-align: center;
	border-right: 1px solid #e6e9f0;
}
.dmc_left img{
	margin-top:19px;
}
.dmc_right{
	width:70%;
	float: right;
}
.dmc_right p{
    padding: 10px;
    padding-bottom: 0;
    margin-left: 10px;
    overflow: hidden;
}
.row{
	margin:0;
}
.doc_man_cont{
	width:100%;
	height:auto;
	overflow: hidden;
	padding:0 40px;
}
.dmc_right_p3{
	font-family: '微软雅黑';
	font-size: 13px;
	color: #868e9a;
	line-height: 98px;
}