.wrapper{
	margin-top: 0;
	background: #eee;
}
.content{
	padding: 20px;
}
.yuqing{
	background: #fff;
	padding: 20px;
	margin-top: 20px;
	overflow: hidden;
}
.yuqing-title{
	overflow: hidden;
	margin-bottom: 20px;
}
.yuqing-title span{
	color: #1E9FFF;
	font-size: 16px;
	font-weight: bold;
}
.yuqing-title button{
	float: right;
	margin-left: 20px;
}
.yuqing .upload{
	color: #fff;
	background:#1E9FFF;
}
 table {
	 table-layout: fixed;
	 display: table;
 }
.table tr th{
	text-align: center;
	background: #f5f6f8;
	border-top: none !important;
}
.table tr td:first-child{
	text-align: left;
}
.table tr td{
	text-align: center;
	border-top: none !important;
	overflow: hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.table tr th:first-child{
	padding-left: 40px !important;
}
.table tr td:first-child{
	padding-left: 40px !important;
}
.table tr:nth-child(odd){
	background: #f5f6f8;
}

.uploads-box{
	width: 397px;
	margin: auto;
}
.layui-upload-choose{
	height: 40px ;
	line-height: 40px ;
}
